Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Remove computer model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove conceptual model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update axiom
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update location of uncertainty label
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update ambiguity label
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update epistemology label
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update ontology label
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add study descriptor
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update changelog
  CHANGELOG.md
Labels: none

Add term tracker
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove unclear axioms
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

No longer build owl-closure.owl on every push when it is not used by the following test pipeline
  .github/workflows/automated-testing.yml
Labels: none

update post release scripts to automatically attach the required files to the release
  .github/workflows/PostReleaseScripts.yml
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definition
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definitions
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definitions
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update src/ontology/edits/oeo-tasks.omn
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definitions as suggested
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add has uncertainty nature
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add has uncertainty level
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add has uncertainty location
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
