Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Add to changelog
  CHANGELOG.md
Labels: none

add empty line in term tracker annotation of sector divisionas test
  src/ontology/edits/oeo-sector.omn
  src/ontology/oeo.omn
Labels: oeo.omn, oeo-sector

remove wrong axiom
  src/ontology/oeo.omn
Labels: oeo.omn

Update oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

remove empty line in term tracker annotation of cold start as test
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove empty lines in term tracker annotation of model as test
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

remove empty lines in term tracker annotation of resolution as test
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

remove empty line in term tracker annotation of acceptance as test
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Added check to avoid old iris being used
  tests/verify/old-iris.sparql
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

remove add line in term tracker annotation of action specification for techno-economic potential as test
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-tasks.omn
Labels: none

remove add line in term tracker annotation of action specification for techno-economic potential as test
  src/ontology/edits/oeo-tasks.omn
Labels: none

remove line in term tracker annotation as fix
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update definition of `electricity grid` and `energy transfer function` (#2073)
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update version and changelog before release
  CHANGELOG.md
  CITATION.cff
  VERSION
Labels: none

Apply suggestions from code review
  tests/verify/old-iris.sparql
Labels: none

Update IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

Update MoveInDiscussionProject.yml
  .github/workflows/MoveInDiscussionProject.yml
Labels: none

Added new section to `CHANGELOG.md`
  CHANGELOG.md
Labels: none

Added new section to `CHANGELOG.md` (#2086)
  CHANGELOG.md
Labels: none

Added new battery subclasses
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added multiple generators, including squirrel-cage induction generator :chestnut:
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added gearbox classification system
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add fol axiom
  src/ontology/edits/oeo-import-edits.owl
Labels: none

add individuals
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add term trackers
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Made use of `prescribes` in `operational voltage level` axioms
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Changed axioms between `voltage level` and `operational voltage level`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added axiom between `electricity grid component` and `operational voltage level`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Made `operational voltage level` a subclass of `objective specification`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Fix IRI and language tag
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Fix german label on temporal resolution individual
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix CHANGELOG.MD entry
  CHANGELOG.md
Labels: none

add empty co-sim module file Ö2034
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

update changelog
  CHANGELOG.md
Labels: none

Add MCDA
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker and changelog
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
