Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Added missing lang tag in social
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

added missing language tag physical
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add iam scenario #2300
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

update term tracker and changelog #2300
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

deprecate has energy output and subrelations #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

deprecate is energy participant and subrelations #2190
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-physical, oeo-shared-axioms

changelog #2190
  CHANGELOG.md
Labels: none

Apply suggestions from code review
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Revert "deprecate is energy participant and subrelations #2190"
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-physical, oeo-shared-axioms

Revert "deprecate has energy output and subrelations #2190"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

make is energy participant and subclasses obsolete #2190
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

add annotations to has energy participant and subclasses #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

make has energy participant and subclasses obsolete #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2190
  CHANGELOG.md
Labels: none

Add new property refers_to
  src/ontology/edits/catalog-v001.xml
Labels: none

Add term tracker annotation to new property refers_to
  src/ontology/oeo.omn
Labels: oeo.omn

Update definition and add domain and range to new property
  src/ontology/oeo.omn
Labels: oeo.omn

Reorder "has spatial region" as sub property of "refers to"
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

Add sub property "refers to energy carrier"
  src/ontology/oeo.omn
Labels: oeo.omn

Add domain and range to "refers to energy carrier"
  src/ontology/oeo.omn
Labels: oeo.omn

Add sub property "refers to temporal region"
  src/ontology/oeo.omn
Labels: oeo.omn

Reorder "has scenario year" as sub property of "refers to temporal region"
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

Update term tracker annotation of "has spatial region"
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add sub property "refers to technology"
  src/ontology/oeo.omn
Labels: oeo.omn

Update language tags
  src/ontology/oeo.omn
Labels: oeo.omn

Update Change Log
  CHANGELOG.md
Labels: none

Add "occurs in" as new property
  src/ontology/oeo.omn
Labels: oeo.omn

Add "occurs in" as new property #2307
  src/ontology/oeo.omn
Labels: oeo.omn

Add Term Tracker Annotation
  src/ontology/oeo.omn
Labels: oeo.omn

Remove Axoim: power plant "participates in" some electricity gain process # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add Term Tracker Annotation
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: electricity gain process "occurs in" some power generating unit # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Remove Axiom: photovoltaic cell "participates in" some photovoltaic energy transformation # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: photovoltaic energy transformation "has participant" some photovoltaic cell # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: photovoltaic energy transformation "occurs in" photovoltaic cell # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Remove Axiom: fueled power plant "participates in" some fuel-powered electricity generation process # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
