Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Update changelog
  CHANGELOG.md
Labels: none

Add object properties and update definition
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update changelog
  CHANGELOG.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Add link to article about merging typed
  CONTRIBUTING.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add data set to definition
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Change time stamp definition
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix typo
  CONTRIBUTING.md
Labels: none

Fix typo
  CONTRIBUTING.md
Labels: none

Revert "Merge branch 'dev' into feature-1891-add-task-definition-in-seperate-module"
  CHANGELOG.md
Labels: none

Fix broken link and improve formating
  CONTRIBUTING.md
  README.md
Labels: none

Added entities needed for uncertainty
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added term tracker annotations
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOGmd
  CHANGELOG.md
Labels: none

Add relations between model and uncertainty entities
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update changelog
  CHANGELOG.md
Labels: none

Add new object properties
  src/ontology/edits/oeo-tasks.omn
Labels: none

Move classes to subclass of system
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update Changelog
  CHANGELOG.md
Labels: none

Update definitions
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definition and remove axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definitions
  src/ontology/edits/oeo-tasks.omn
Labels: none

Remove unused relation
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add second task
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add third task
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add forth task
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add fifth task and missing annotation
  src/ontology/edits/oeo-tasks.omn
Labels: none

Delete unnecessary relations
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix typos
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix language tags
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update automated-testing.yml
  .github/workflows/automated-testing.yml
Labels: none

Remove Input data
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove processed output data
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove model implementation
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove system boundary
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
