Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Removed domain and range from `causally related to`
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Added `term tracker annotation`
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Added changelog
  CHANGELOG.md
Labels: none

remove incorrect domain and range from causally related to
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Revert "Update src/ontology/edits/oeo-import-edits.owl"
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Revert "remove incorrect domain and range from causally related to"
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Make `goal description` an `objective specification` and rename `target description` (#2102)
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Imported `Performance Specification` from CCO
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/imports/cco-extracted.owl
Labels: none

Updated ro-extracted.owl with characteristic regulation properties (#2094)
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/imports/ro-extracted.owl
Labels: none

Removed domain and range from `causally related to` (#2104)
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Added missing inverse and transitive characteristics
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Replaced `causally related to` property in axioms with `causally upstream of or within`
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared-axioms

Added changelog, term tracker annotation & comment about not imported axiom to `Performance Specification`
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
Labels: none

added `rated voltage`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

renamed `electricity grid voltage level` instances
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

removed `operational voltage level`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

added subclasses of `rated voltage` and missing axioms
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

updated changelog
  CHANGELOG.md
Labels: none

fixed old iri format
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

added changelog and term tracker annotation
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
Labels: none

fixed accidental usage of "has energy participant"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Typo changes and readability
  README.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
