Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Added term tracker annotation
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Mentioned changes in changelog
  CHANGELOG.md
Labels: none

Proposed implementation of functions for 'electricity transmission' and 'electricity distribution'
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added term tracker annotation
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Mentioned changes in changelog
  CHANGELOG.md
Labels: none

Fixed pull request number in changelog
  CHANGELOG.md
Labels: none

add data property has scenario year value #2035
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

changelog and term tracker
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

bug fix: put vehicle operational mode back into hierarchy #2037
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Changed OEP URL in oeo-sector.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Changed import of oeo-sector into oeo-shared-axioms
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Improved definition of soil quality and link to GEMET
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Apply suggestions from code review
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Adapt implementation of `arable land` classes (#2041)
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Implemented proposed structure
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Updated changelog
  CHANGELOG.md
Labels: none

More missing landscape classifications for SLE project (#2006)
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Changed 'grid component' class to be 'grid component role'
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add PMSG
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added PR number to term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added PMSG energy converting unit
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added PMSG tech
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added PERC
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

More url changes
  Makefile
  README.md
  examples/eGoDP_modelfactsheet version 2.ttl
  examples/eTraGo.ttl
  src/scripts/etd/etd.py
Labels: none

Revert "Changed 'grid component' class to be 'grid component role'"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added 'grid component role'
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Removed unnecessary changes
  src/ontology/edits/catalog-v001.xml
Labels: none

Changed transmission and distribution functions
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Changed IRIs of `electricity cost` and `life cycle assessment`
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared, oeo-shared-axioms

add comment for elucidation
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add new user 0042
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

Change 'energy conversion process' axiom to use MENO classes instead of OEO classes
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add `energy transfer` axioms
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add term trackers
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

remove tag from climate neutrality criterion
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add oekg tags
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add to changelog
  CHANGELOG.md
Labels: none

add wind power density
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
