Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Move electronic hardware, energy converting component, energy storage object, and energy transformation unit to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move manufacturing plant and measurement device to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move reservoir and sewage plant to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move tank and solar receiving object to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move transport network component and vehicle to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update term tracker annotation
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update allowed value for oekg annotation #2301
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo.omn, oeo-shared

add oekg annotation to simulation #2301
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add oekg annotation to optimisation #2301
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add carbon capture and utilisation
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add study descriptor tag annotation to simulation #2301
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

add study descriptor tag annotation to optimisation #2301
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

update changelog and term tracker annotations #2301
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

update version information and release date
  CITATION.cff
  VERSION
  src/ontology/oeo.omn
Labels: oeo.omn

update changelog
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Apply batched suggestions from code review
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add new unreleased section to changelog after release v2.14.0
  CHANGELOG.md
Labels: none

add relation refers to sector #2272
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

correct definition #2272
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

update language
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

fix: Correct the `find` expression to find oeo-full and oeo-closure.
  .github/workflows/PostReleaseScripts.yml
Labels: none

add term-tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2326
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
