Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Reverted rename of idranges
  src/ontology/oeo-idranges.owl
Labels: none

Removed typos in file
  src/ontology/oeo-idranges.owl
Labels: none

Made CI not fail if creating the automated diff message fails
  .github/workflows/diff.yml
Labels: none

extend list of ids #2223
  src/ontology/oeo-idranges.owl
Labels: none

Update changelog #2223
  CHANGELOG.md
Labels: none

add boiler subclasses to oeo-physical #2189
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

add definitions #2189
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add term tracker annotations #2189
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axioms uses some fuel #2189
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

fix boiler axiom #2189
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2189
  CHANGELOG.md
Labels: none

fix term tracker annotation of robust system scenario #2204
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

correct name #2223
  src/ontology/oeo-idranges.owl
Labels: none

add JSS and update MS #2223
  src/ontology/oeo-idranges.owl
Labels: none

Slight changes to -a--new-ontology-term.md
  .github/ISSUE_TEMPLATE/-a--new-ontology-term.md
Labels: none

Add `USERS.cff` file #2039
  USERS.cff
Labels: none

add docs folfer copy from ENERO repo #2229
  docs/community.md
  docs/comparison.md
  docs/contact.md
  docs/extra.css
  docs/img/Banner_ENEROFoundry.png
  docs/img/Banner_ENEROFoundry.svg
  docs/img/Favicon_enero-foundry.ico
  docs/img/Logo_OEOFoundry.png
  docs/img/Logo_OEOFoundry.svg
  docs/img/OpenEnergyFamily_Logo_ENEROFoundry.png
  docs/img/OpenEnergyFamily_Logo_ENEROFoundry.svg
  docs/img/funding/dfg_logo_schriftzug_blau_foerderung_en.png
  docs/img/funding/nfdi4energy_logo.svg
  docs/img/funding/nfdi_rgb_Wortmarke_Zusatz_quer.png
  docs/img/partner/Logo_OFFIS.svg
  docs/img/partner/Logo_RLI.svg
  docs/img/partner/Logo_UOL.svg
  docs/img/partner/Logo_UOS.svg
  docs/index.md
  docs/ontologies.md
  docs/principles.md
  docs/principles/10_ai_usage.md
  docs/principles/1_open.md
  docs/principles/2_format.md
  docs/principles/3_release_versioning.md
  docs/principles/4_documentation.md
  docs/principles/5_collaboration.md
  docs/principles/6_scope.md
  docs/principles/7_foundation.md
  docs/principles/8_naming.md
  docs/principles/9_definitions.md
Labels: none

remove persons, add SIROP #2039
  USERS.cff
Labels: none

add type, add DB4KWP #2039
  USERS.cff
Labels: none

add OEP data annotation and OEKG #2039
  USERS.cff
Labels: none

Add NFDI4Energy #2039
  USERS.cff
Labels: none

Add institutions to USERS.cff
  USERS.cff
Labels: none

fixed typo #2039
  USERS.cff
Labels: none

Add OEO documentation #2229
  .github/workflows/documentation.yml
  docs/community.md
  docs/contact.md
  docs/extra.css
  docs/img/Banner_OEO.png
  docs/img/Banner_OEO.svg
  docs/img/OpenEnergyFamily_Logo_ENEROFoundry.svg
  docs/img/OpenEnergyFamily_Logo_OpenEnergyOntology.png
  docs/img/OpenEnergyFamily_Logo_OpenEnergyOntology.svg
  docs/img/OpenEnergyFamily_Logo_OpenEnergyOntology_OEO.png
  docs/img/OpenEnergyFamily_Logo_OpenEnergyOntology_OEO.svg
  docs/img/OpenEnergyFamily_Logo_OpenEnergyOntology_icon.png
  docs/img/OpenEnergyFamily_Logo_OpenEnergyOntology_icon.svg
  docs/img/favicon_oeo.ico
  docs/img/funding/dfg_logo_schriftzug_blau_foerderung_en.png
  docs/img/funding/nfdi4energy_logo.svg
  docs/img/funding/nfdi_rgb_Wortmarke_Zusatz_quer.png
  docs/img/partner/Logo_OFFIS.svg
  docs/img/partner/Logo_RLI.svg
  docs/img/partner/Logo_UOL.svg
  docs/img/partner/Logo_UOS.svg
  docs/index.md
  mkdocs.yml
  requirements.txt
Labels: none

Test feature branch #2229
  .github/workflows/documentation.yml
Labels: none

Add use-cases #2229
  docs/use-cases/cepo.md
  docs/use-cases/oep_data_annotation.md
  docs/use-cases/overview.md
  mkdocs.yml
Labels: none

Fix pathes #2229
  mkdocs.yml
Labels: none

Update use-cases #2229
  docs/use-cases/cepo.md
  docs/use-cases/oep_data_annotation.md
  docs/use-cases/overview.md
Labels: none

Update logo and color #2229
  docs/extra.css
  mkdocs.yml
Labels: none

Update menu colour #2229
  docs/extra.css
Labels: none

add increases/decreases energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add def and axioms to decreases energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add def and axioms to increases energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update changelog #2190
  CHANGELOG.md
Labels: none

Update CHANGELOG #2190
  CHANGELOG.md
Labels: none

Fix chain for increases energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update ambient thermal energy transfer #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove wrong axioms for combustion fuel tranport #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove wrong axioms for mineral oil refining process #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove has energy input axiom for combustion-based heater #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
