Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

add axiom to oeo-shared-axioms #1683
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

add statistically robust scenario #1683
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add statistical robust #1683
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

correct statistical robust #1683
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Reincluding SubclassOf
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Restructuring emission rate and emission value
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update Changelog and adding term tracker items
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Compose units and update CHANGELOG.md
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add Issue-Link and PR-Link to term tracker items
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add SubClassOf axioms for composed Units
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog
  CHANGELOG.md
Labels: none

Change some Axioms from EquivalentTo to SubclassOf
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

import also subproperies of characteristic of
  src/ontology/imports/ro-extracted.owl
Labels: none

remove wrong subclass of axiom
  src/ontology/imports/ro-extracted.owl
Labels: none

Add size and adjust area value
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term tracker item
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add inverse, domain and range to role of #1844
  src/ontology/edits/oeo-import-edits.owl
Labels: none

update inverse of has characteristic #1844
  src/ontology/edits/oeo-import-edits.owl
Labels: none

add model role axiom #1844
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

remove domain from has charachteristic, see annotation of characteristic of #1844
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

remove inverse relation between has bearer and has charachteristic #1844
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

chagelog
  CHANGELOG.md
Labels: none

add term trackers
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

make time stamp a data descriptor #1536
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add (de)commissioning start #1536
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add (de)commissioning end #1536
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

axioms of time stamp
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

changelog
  CHANGELOG.md
Labels: none

Add german labels to four terms #1471
  src/ontology/oeo.omn
Labels: oeo.omn

Add German label to abbreviation in model module #1471
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Revert "Add German label to abbreviation in model module #1471"
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Revert "Add german labels to four terms #1471"
  src/ontology/oeo.omn
Labels: oeo.omn
