Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Simplify `location of uncertainty role` definition
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add "model" to `location of uncertainty role`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add "model" to `level of uncertainty`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add "model" to `nature of uncertainty`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add "model" to uncertainty relations
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add "model" to uncertainty individuals
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add "model" to `recognized ignorance`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix typo: ambiguous
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix typo: epistemological
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Removed code that should have been removed in the first PR
  .github/workflows/InDiscussionProject.yml
Labels: none

Changed "ist" to "is" and removed double-space in target description and study region
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Change degree/severity to "degree or severity"
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add conceptual model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix language tag
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add term tracker
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add model system boundary
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add technical model implementation
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Remove duplicated word from the definition of `gaseous`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update term tracker item and CHANGELOG.md
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Adjust definition of `areal solar energy density`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Split InDiscussionProject into two workflow files
  .github/workflows/LabelInDiscussion.yml
  .github/workflows/MoveInDiscussionProject.yml
Labels: none

Fix wording
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Move model system boudary
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

Revert "Move model system boudary"
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

Move model system boundary in oeo-model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update definition
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Move technical model implementation
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update definition
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Move conceptual model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Mention changes in CHANGELOG and term tracker annotation
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
