Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Fix IRI
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update description and title of co-sim module
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Fix for previous commit
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Added `volt` unit axiom to `voltage level` instances
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Improved definition of `voltage classification system`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Updated definitions of `operational voltage level` subclasses
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Renamed `has information content entity` to `is subject of`
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Updated Changelog and term tracker annotation
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

change format from obo to omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

correct iri
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Upate description of co-simu module
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Remove some unneeded obo format references
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Updated ro-extracted.owl with characteristic regulation properties
  src/ontology/imports/ro-extracted.owl
Labels: none

updated CHANGELOG
  CHANGELOG.md
Labels: none

Added `'has disposition' some 'primary energy carrier disposition'` subclass axiom to `air`, `water` and `biomass`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added `'has disposition' some 'primary energy carrier disposition'` subclass axiom to `biofuel` and `nuclear fuel`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Updated Changelog
  CHANGELOG.md
Labels: none

Updated term tracker annotation
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

`primary energy carrier disposition` is not used in certain cases (#2095)
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update README.md
  README.md
Labels: none

Renamed `has information content entity` to `is subject of` (#2092)
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Added comment on `operational voltage level` about intended process endpoint
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added `term tracker annotation`
  src/ontology/edits/oeo-import-edits.owl
Labels: none

First look at implementation of FOL axiom
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update license and citation #2096
  README.md
Labels: none

Update changelog #2096
  CHANGELOG.md
Labels: none

Add section for citation #2096
  README.md
Labels: none

Add highlights #2096
  README.md
Labels: none

Moved `goal description` and renamed `target description`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Updated `term tracker annotation`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Updated changelog
  CHANGELOG.md
Labels: none

Added domain and range to `regulates characteristic` property
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Implemented suggestions from oeo-dev meeting
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
