Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Add 5 German alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add aerothermische Energien alternativ label #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add german labels Agent Aggregationsart, Landwirtschaft, Forstwirtschaft und Landnutzungssektor, Luft, Luftschadstoff #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-sector

Add 5 german alternativ labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternativ labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 4 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 6 german alterative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labesl #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

Add 5 new german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add Lost area quantity value, & add 1 german alternative label #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update version information
  CHANGELOG.md
  CITATION.cff
  VERSION
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add alternative german labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-model, oeo-physical, oeo-sector

Add 5 new alternative labels in german #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add new german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 new german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 alternative german labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update automated-testing.yml
  .github/workflows/automated-testing.yml
Labels: none

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-physical, oeo-sector

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

Add german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

dd 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Remove `has proper part` and `proper part of` #1333
  CHANGELOG.md
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-sector

Add/improve definitions and add term tracker items #1333
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Add German label to class `subsector` #1333
  src/ontology/oeo.omn
Labels: oeo.omn

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
