Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Add axiom: hydroelectric energy transformation "occurs in" some hydro power unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: hydro power plant "participates in" some hydroelectric energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: marine current energy converting unit "participates in" some marine current energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: marine current energy transformation "occurs in" some marine current energy converting unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: marine tidal energy converting unit "participates in" some marine tidal energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: marine tidal energy transformation "occurs in" some marine tidal energy converting unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: marine wave energy converting unit "participates in" some marine wave energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: marine wave energy transformation "occurs in" some marine wave energy converting unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: marine current energy power plant unit "participates in" some marine current energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: marine tidal energy power plant "participates in" some marine tidal energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: marine wave energy power plant "participates in" some marine wave energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: mineral oil refinery "participates in" some mineral oil refining process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: mineral oil refining process "occurs in" some mineral oil refinery #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: combined heat and power generating unit "participates in" some combined heat and power generation process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: combined heat and power generation process "occurs in" some combined heat and power generating unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: combined heat and power plant "participates in" some combined heat and power generation process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: power-to-fuel system "participates in" some power-to-fuel process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-fuel process "occurs in" some power-to-fuel system #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: power-to-ammonia system "participates in" some power-to-ammonia process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-ammonia process "occurs in" some power-to-ammonia system #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update Changelog.md #2305
  CHANGELOG.md
Labels: none

make refers to temporal region / technology / energy carrier subproperties of refers to #2272
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Apply suggestions from code review
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Remove dublicate entries in oeo-model.omn #2305
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update term tracker annotations #2305
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update examples in comments to the respective subproperties of refers to #2305
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Remove Axiom: power-to-methane system "participates in" some power-to-methane process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-methane process "occurs in" some power-to-methane system #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md #2305
  CHANGELOG.md
Labels: none

update def of power-to-gas system #2255
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update def of power-to-fuel system #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Corrected axiom for power to ammonia system
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Revert "Corrected axiom for power to ammonia system"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove wrong Axiom: energy transformation "occurs in" some power to ammonia system #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-methane process "occurs in" some power-to-methane system #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

import relation 'occurs in' from BFO / RO #2305
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/imports/ro-extracted.owl
Labels: none

Update CHANGELOG.md and term tracker of 'occurs in' #2305
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
Labels: none
