Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Apply suggestion from @stap-m
  src/ontology/oeo.omn
Labels: oeo.omn

Import material artifact from cco #2196
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/imports/cco-extracted.owl
Labels: none

Rename hardware to electronic hardware #2196
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update CHANGELOG.md
  CHANGELOG.md
Labels: none

update label of nuclear electrolytic hydrogen, changelog #2235
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

adjust language labels #2205
  src/ontology/oeo.omn
Labels: oeo.omn

move new individuals to oeo-model #2205
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

add term tracker annotations, add def for CSV #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for GeoTiff #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for json #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for cpacs #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for kml #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for vtk #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for netcdf #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add def for so6 #2205
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

changelog #2205
  CHANGELOG.md
Labels: none

remove calls from oeo.omn #2205
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add changes energy #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add produces / consumes energy #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add energy production / consumtion disposition #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update term tracker annotations #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add chain of properties to new relations #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axioms to charging and battery #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add sub-dispositions, update defs of relations #2246
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add classes simulation component, simulation hardware component, simulation components role, and device under test role #2072
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add pull request to term tracker annotation #2072
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add liquid hydrogen #2274
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add methane pyrolytic hydrogen #2274
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add comments to grey, blue and green hydrogen #2274
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker annotation for material artifact
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update CHANGELOG and add controls hardware function of #2072
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Move dam to material artifact #2276
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move data center to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move electronic hardware, energy converting component, energy storage object, and energy transformation unit to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move manufacturing plant and measurement device to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move reservoir and sewage plant to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move tank and solar receiving object to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move transport network component and vehicle to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
