Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Add MIT license and License folder for REUSE #1985
  LICENSE-MIT.txt
  LICENSES/CC0-1.0.txt
  LICENSES/MIT.txt
Labels: none

Update readme file #1985
  README.md
Labels: none

Add copyright info #1985
  .gitignore
Labels: none

Add copyright info and format changelog #1985
  CHANGELOG.md
Labels: none

Add copyright info #1985
  CITATION.cff
Labels: none

Add copyright info #1985
  CODE_OF_CONDUCT.md
Labels: none

Add CC-BY-4.0 license #1985
  LICENSES/CC-BY-4.0.txt
Labels: none

Add copyright info #1985
  CONTRIBUTING.md
Labels: none

Add copyright info and update badges #1985
  README.md
Labels: none

Add copyright info in REUSE.toml #1985
  REUSE.toml
Labels: none

Fix REUSE badge #1985
  README.md
Labels: none

Add copyright to MIT license #1985
  LICENSE-MIT.txt
Labels: none

Rename CC0 license file #1985
  LICENSE-CC0.txt
Labels: none

Update changelog #1985
  CHANGELOG.md
Labels: none

Improved definitions of individuals
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add meno-extracted.owl
  src/ontology/imports/meno-extracted.owl
Labels: none

Import MENO into OEO
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update catalog files
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
Labels: none

Add term trackers
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Integrate terms into hierarchy
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Improve task tracker wording
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Correct data property
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

fix catalog file after cco import #2016
  src/ontology/edits/catalog-v001.xml
Labels: none

Changes to data property
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update changelog
  CHANGELOG.md
Labels: none

Fix error
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add new shortcut relation covers bundle energy carrier
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

add annotation property for sparql #2013
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Redo data property changes
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove dateYear
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add annotations for spqarql and nl #2013
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

update label and elucidation
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

add shortcut relation has output (shortcut) #2013
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

add shortcut relation has information input (shortcut) #2013
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

correct sparql queries
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

add covers technology (shortcut) #2013
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Added equivalence relation to protected area
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Changed regions defined by ROG and their roles back to classes
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Changed Bird Sanctuary and Flora Fauna Habitat and their roles to classes
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
