Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Fix CHANGELOG.md #1471
  CHANGELOG.md
Labels: none

Fix axiom of `industrial technology` and term trackers #1726
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Fix axiom #1726
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Fix CHANGELOG.md #1726
  CHANGELOG.md
Labels: none

Convert `software framework` indivuals into `programming languages` and add definitions #869
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Split individual `matlab` into two individuals #859
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker items and update CHANGELOG.md #859
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Change `VBA` to `Visual Basic for Applications` #859
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-sector

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 4 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Import SKOS mapping relations #636
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social, oeo-shared, oeo-sector

Update CHANGELOG.md #636
  CHANGELOG.md
Labels: none

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add relational quantity value #1875
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Match programming language to the Software Ontology (SWO) #859
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Convert ENVO matchings from `iao:may be identical` to `skos:closeMatch` #636
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

Update term tracker items and CHANGELOG.md #636
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change of language label, Changelog and term tracker
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update VERSION and CITATION.md
  CITATION.cff
  VERSION
Labels: none

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 4 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 4 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 6 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
