Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Add 5 german alternative labels, add en langugae tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-model, oeo-physical, oeo-sector

Add 7 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 5 german alternative labels, add en langugage tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Added oeo-tools as submodule
  .gitmodules
Labels: none

Added imports to makefile
  Makefile
Labels: none

Removed uo from makefile
  Makefile
Labels: none

Split individual `gams` into two individuals #859
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker items and update CHANGELOG.md #859
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Implement changes of oeo-tools
  .gitignore
  Makefile
  src/ontology/imports/iao-extracted.owl
  src/ontology/imports/ro-extracted.owl
  src/ontology/imports/uo-extracted.owl
Labels: none

Updated robot version
  Makefile
Labels: none

Introduce `oeo:unit` and `oeo:physical unit` #1871
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Delete subclass of axiom from `uo:unit` #1871
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Make `currency` a subclass of `oeo:currency` #1871
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add term tracker items and update CHANGELOG.md #1871
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labeks #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social, oeo-shared

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 4 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 8 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Added new contributor
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

Restore definition of `uo:unit` from UO #1871
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/imports/uo-extracted.owl
Labels: none

Add 7 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared, oeo-sector

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-social

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-physical, oeo-sector

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternativ labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add PR #1895
  CHANGELOG.md
Labels: none
