Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Add term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add first draft of mapping-file
  mappings/oeo-envo.sssom.tv.yaml
Labels: none

Updated term tracker annotation and improved definition of 'grid component'
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Expanded annotations of new classes
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added definition and term tracker annotation to `voltage level` class
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Deleted `electric potential difference value` class
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Deleted `electric potential difference value` from changelog
  CHANGELOG.md
Labels: none

Moved unit axiom to voltage level from its individuals
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add first concepts to co-simulation scenario module
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Change IRIs to new OEP URL
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

Update MoveInDiscussionProject.yml
  .github/workflows/MoveInDiscussionProject.yml
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Updated definition of `electricity grid`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Updated definition and axiom of `energy transfer function` to limit it to `grid component link`s
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Updated Changelog and term tracker annotation
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Functions for energy transmission and distribution (#2043)
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Extracted additional object properties from CCO
  src/ontology/imports/cco-extracted.owl
Labels: none

Added subproperty and inverse axioms
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Updated changelog
  CHANGELOG.md
Labels: none

Add correct axioms to energy transfer instead of quality transfer
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add missing axioms to energy transformation
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Included `grid component` in changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add `grid component role` (#2054)
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

let Protege reorder the oeo-physical file
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Update src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-co-sim.omn
Labels: none

`oeo-physical` ordering gets rearranged by Protege (#2076)
  .github/workflows/IssueProject.yml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Moved axioms from `oeo-shared-axioms` to `oeo-import-edits`
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Undid changes to `oeo-shared_axioms`
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Change range
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker and changelog entry
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove data properties
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
