Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 3 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 2 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

Add 3 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 2 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en labguage tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 6 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 6 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update Changelog #1883
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 3 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-physical, oeo-sector

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/iao-extracted.owl
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 6 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
