Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Move entries
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Change version number
  CHANGELOG.md
  CITATION.cff
  VERSION
Labels: none

Fix missing subclass of 'generically dependent continuant'
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix typo
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Removed obsolete axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add `model uncertainty location`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term tracker
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix CHANGELOG.md
  CHANGELOG.md
Labels: none

Implement first version
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fixed dependency issues, release overwriting and wrong artifact structure
  .github/workflows/PostReleaseScripts.yml
Labels: none

Stop setting the release as latest
  .github/workflows/PostReleaseScripts.yml
Labels: none

British english in comments
  .github/workflows/PostReleaseScripts.yml
Labels: none

Add alt label and change tasks label
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-tasks.omn
Labels: oeo-physical

Add term tracker and changelog
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-tasks.omn
Labels: oeo-physical

Removed `spatial legislation` and splitted `Natura 2000 role`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Updated definition of BNatSchG and ROG to reflect the change of hierarchy
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fixed typos in definitions
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added term tracker annotation to all classes and individuals changed by this pr
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added changelog
  CHANGELOG.md
Labels: none

Fix axiom of uncertainty location
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add axiom 'has role' some 'location of model uncertainty role'
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term trackers
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Move cost(+subclasses) to process attribute
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term trackers
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Adjust cost definition to new ParentClass
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add comment
  src/ontology/oeo.omn
Labels: oeo.omn

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term tracker
  src/ontology/oeo.omn
Labels: oeo.omn

Add stato extracted file
  src/ontology/imports/stato-extracted.owl
  src/ontology/oeo.omn
Labels: oeo.omn

Integrate terms into preexisting hierarchy
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add term trackers
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Bump python version number to 3.13.1
  .github/workflows/automated-testing.yml
Labels: none

Add feasable potential axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
