Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

update changelos #2190
  CHANGELOG.md
Labels: none

Update changelog #2190
  CHANGELOG.md
Labels: none

Remove infering CassAssertions for oeo-closure #2237
  Makefile
Labels: none

Update IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

Update MoveInDiscussionProject.yml
  .github/workflows/MoveInDiscussionProject.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Use import process in oeo-tools for import of CCO terms #2151
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/imports/cco-extracted.owl
Labels: none

update version to 2.12.0
  CITATION.cff
  VERSION
  src/ontology/oeo.omn
Labels: oeo.omn

update changelog with version 2.12.0 and date
  CHANGELOG.md
Labels: none

Update IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

add new unreleased section to changelog oafter release
  CHANGELOG.md
Labels: none

change label and add synonym for CRF sector division #2247
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

change label and add synonym for CRF sector division #2247
  CHANGELOG.md
Labels: none

refine axiom of power-to-fuel technologies #2249
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update termtracker #2249
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2249
  CHANGELOG.md
Labels: none

add individuals of text file format #2205
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

add individuals of binary file format #2205
  src/ontology/oeo.omn
Labels: oeo.omn

move individuals to oeo-model #2205
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

fix inconsistencies #2205
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

correct definition of permits #2252
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

correct definition of run of river power technology #2252
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2252
  CHANGELOG.md
Labels: none

correct definition of permits #2252
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

correct definition of run of river power technology #2252
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2252
  CHANGELOG.md
Labels: none

remove axioms from electrical energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove axioms from hydro energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove axioms from marine current energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove axioms from marine tidal and wave energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove axioms from wind energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove axioms from industrial waste thermal energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove axioms from solar electrical energy #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2190
  CHANGELOG.md
Labels: none

Add some term tracker items again #2190
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add heat pump technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add alternative labels #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add electrical heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add combustion-based heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
