Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

changelog
  CHANGELOG.md
Labels: none

Include full ontology files in release #2150
  .github/workflows/PostReleaseScripts.yml
Labels: none

update version and citation.cff for release 2.10.0
  CITATION.cff
  VERSION
Labels: none

update unreleased section for release
  CHANGELOG.md
Labels: none

Update changelog for release
  CHANGELOG.md
Labels: none

Add unreleased section to changelog
  CHANGELOG.md
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

update def of powerline and add axiom #2154
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

add term tracker annotation #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add power line for vehicles #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker annotation #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add term - overhead power line
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add terms - #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

added contributor #2192
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

Fix term tracker annotation and language #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Fix term tracker annotation and language #2071
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add power line support structure #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add electricity pylon #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add utility pole #2154
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2154
  CHANGELOG.md
Labels: none

move definition of domain of has information input (shortcut) to oeo-shared-axioms #2023
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move definition of domain of has information output (shortcut) to oeo-shared-axioms #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move definition of domain and range of based on sector divison to oeo-shared-axioms #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move definition of domain and range of covers energy carrier (shortcut) to oeo-shared-axioms #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move definition of domain and range of covers energy technology (shortcut) to oeo-shared-axioms #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

Apply suggestion from @stap-m
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

changelog #2119
  CHANGELOG.md
Labels: none

Add subclass transmission grid #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add subclass distribution grid #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update IRI path #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker and alternative label #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update term tracker and add German term #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update changelog #2162
  CHANGELOG.md
Labels: none

add axiom to (extra) high rated voltage #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom to medium/low rated voltage #2162
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2162
  CHANGELOG.md
Labels: none

remove empty class calls #2023
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-shared-axioms, oeo-sector

Revert "remove empty class calls #2023"
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-shared-axioms, oeo-sector

remove empty call oeo_00020227 from oeo-shared #2119
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared, oeo-shared-axioms

Revert "remove empty call oeo_00020227 from oeo-shared #2119"
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared, oeo-shared-axioms

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
