Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

add coal powered heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add oil powered heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add gas powered heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add hydrogen powered heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add biomass powered heating technology #1772
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #1772
  CHANGELOG.md
Labels: none

add ethene #2167
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

add axiom and term tracker #2167
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2167
  CHANGELOG.md
Labels: none

add agricultural waste fuel #1958
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add alternative label to lignite #1958
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add coal refuse #1958
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

add alternative label for colliery gas #1958
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

add biomass heat unit #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add hydrogen heat unit #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add oil heat unit #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add gas heat unit #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add biomass heat plant #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add oil heat plant #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add gas heat plant #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2159
  CHANGELOG.md
Labels: none

update gas heat unit #2159
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add combined cycle gas power unit #2160
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add open cycle gas power unit #2160
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2160
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update definition of AC-line #2164
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

term tracker and changelog #2164
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change def of AC-line, changelog #2164
  CHANGELOG.md
Labels: none

change def of AC-line #2164
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
