Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added definition sources for legislation and protected area role
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add axiom to `uncertainty of a model`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add axiom to `uncertainty of a model`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove axiom from `model`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add axioms to `model system boundary`
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add task trackers
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

First implementation of 'arable land'
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add CCO terms to ontology
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/cco-extracted.owl
Labels: oeo-shared

Add axioms to CCO terms
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Removed redundant imports
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Add term trackers
  src/ontology/edits/oeo-import-edits.owl
Labels: none

add comment about process axioms from cco
  src/ontology/edits/oeo-import-edits.owl
Labels: none

changelog
  CHANGELOG.md
Labels: none

Update cco-extracted.owl
  src/ontology/imports/cco-extracted.owl
Labels: none

Add missing axioms
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add missing term trackers
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Fix definition of `solid`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add predicates
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Change changelog
  CHANGELOG.md
Labels: none

Add term tracker
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix error
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add missing relation
  CHANGELOG.md
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add PyCharm to gitignore #1985
  .gitignore
Labels: none

Rename license file #1985
  LICENSE.txt
Labels: none

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
