Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

remove calls from empty classes from oeo-shared #2119
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

fix axiom of energy conversion process to meno classes #2119
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/oeo.omn
Labels: oeo.omn

Revert "fix axiom of energy conversion process to meno classes #2119"
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/oeo.omn
Labels: oeo.omn

fix axiom of energy conversion process to meno classes #2119
  src/ontology/edits/oeo-import-edits.owl
Labels: none

add term tracker to energy conversion process #2119
  src/ontology/edits/oeo-import-edits.owl
Labels: none

remove calls from emtpy classes in oeo-import-edits #2119
  src/ontology/edits/oeo-import-edits.owl
Labels: none

add-new-contributor
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

Update changelog and small language fixes #2071
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Revert changes in oeo-co-sim
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Rename simulation scenario to simulation plan specification
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add versionInfo to oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Apply suggestions from code review of simulation scenario concept #2071
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Fix language tag of 'translational energy' and 'power line support structure'
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update version number #2211
  CITATION.cff
Labels: none

Update version number #2211
  VERSION
Labels: none

Update version number #2211
  src/ontology/oeo.omn
Labels: oeo.omn

Update version number #2211
  CHANGELOG.md
Labels: none

Remove unused Removed section
  CHANGELOG.md
Labels: none

Start new unreleased section
  CHANGELOG.md
Labels: none

add property chain for covers technology #2215
  CHANGELOG.md
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

add property chain for covers energy carrier #2215
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

reconstruct covers-sector (shortcut) #2215
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

term tracker annotation of covers sector (shortcut)#2215
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

changelog #2215
  CHANGELOG.md
Labels: none

Fix formatting and update date of last release #2217
  CITATION.cff
Labels: none

Update changelog #2217
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Apply suggestion from @stap-m
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update issue template for new ontology terms
  .github/ISSUE_TEMPLATE/-a--new-ontology-term.md
Labels: none

added link to ENERO definition principle
  .github/ISSUE_TEMPLATE/-a--new-ontology-term.md
Labels: none

Add german translations for hydrogen color labels in oeo-physical.omn
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
Labels: none

Add term tracker annotations
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add Pull-Request - ID to CHANGELOG.md-entry
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add oeo-idranges.owl #2223
  src/ontology/oeo-idranges.owl
Labels: none

Remove comment line from oeo-idranges.owl
  src/ontology/oeo-idranges.owl
Labels: none

Changed extension of idranges to omn
  src/ontology/oeo-idranges.omn
Labels: none

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
