Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

move has information input (shortcut) relation to oeo-shared #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move has information output (shortcut) relation to oeo-shared #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

add changelog #2119
  CHANGELOG.md
Labels: none

add term tracker annotations #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

replace has part by has occurrent part #2053
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

replace axiom for energy transfer classes #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add scenario terms
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-model, oeo-shared-axioms

Add Changelog and term tracker
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove trailing space from oeo class
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Upload hygiene reports
  .github/workflows/automated-testing.yml
Labels: none

Hygiene tests only evaluate OEO classes
  tests/verify/annotation_trailing_whitespace.sparql
  tests/verify/duplicate_definition.sparql
  tests/verify/duplicate_labels.sparql
Labels: none

Always upload hygiene reports
  .github/workflows/automated-testing.yml
Labels: none

Add output dir to verify reports
  .github/workflows/automated-testing.yml
Labels: none

Add simulation scenario concept #2071
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Shortenned message
  tests/verify/duplicate_definition.sparql
Labels: none

correct duplicate def of has squared unit denominator
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

correct duplicate def of has linear unit denominator
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

correct duplicate def of RED sector transport
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

correct duplicate def of EU emission sector LULUCF
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

changelog
  CHANGELOG.md
Labels: none

update citation and version
  CITATION.cff
  VERSION
Labels: none

update changelog release section
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add pull request number and changelog entry for #2071
  CHANGELOG.md
  src/ontology/edits/oeo-co-sim.omn
Labels: none

remove equivalence from hydro energy trafos
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

refine equivalence axiom for power-to-fuel process
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add files via upload
  figures/oeo-file-structure.png
Labels: none

remove equivalence between OEO:unit and UO:unit #2135
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

make OEO:unit new parent of UO:unit subclasses #2135
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/uo-extracted.owl
Labels: oeo-shared

move subclassOf axiom from uo-extract to oeo-import-edits #2135
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/uo-extracted.owl
Labels: oeo-shared

add term tracker annotations #2135
  src/ontology/edits/oeo-import-edits.owl
Labels: none

make subclasses of UO:unit from oeo-physical subclasses of physical unit #2135
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

rename uo:unit to distinguish it from oeo:unit
  src/ontology/imports/uo-extracted.owl
Labels: none

Addting the terms turboshaft gas turbine, turboprop gas turbine, turbofan gas engine, turbojet gas engine as subclass of gas turbine
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

updated changelog.md and pull requests for issue 2132 and pull request 2142
  CHANGELOG.md
Labels: none

change unit in domain and range of has unit denominator and subproperties #2135
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

change unit in domain and range of has unit numerator and subproperties #2135
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

change unit in domain/range of has unit, is unit of and has prefix #2135
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

change unit in axiom of quantity value #2135
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

make uo:unit obsolete #2135
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared
