Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Add techno-echo axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add wind char axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add wind farm axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add technical potential axiom
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add changelog and term tracker
  CHANGELOG.md
  src/ontology/edits/oeo-tasks.omn
Labels: none

Fix error
  src/ontology/edits/oeo-tasks.omn
Labels: none

Fix IRIs of protected area role individuals
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

first commit
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Updated changelog
  CHANGELOG.md
Labels: none

Bump python version number to 3.13.1 (#2003)
  .github/workflows/automated-testing.yml
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update definition of model uncertainty location
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add comment (to oeo-import-edits)
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Make comment more descriptive
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update domain of models
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update range of models
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Add axioms to model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term trackers
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Make comment more descriptive
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Make comment more descriptive
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Remove obsolete axioms
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Replace flawed axiom
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Merge dev into feature as 1 commit
  .github/workflows/PostReleaseScripts.yml
  .github/workflows/automated-testing.yml
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

remove obsolete axiom from emission price #1999
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

remove obsolete axiom from emission rate #1999
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

remove obsolete axiom from transport network component #1999
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

remove axiom from social cost of (carbon) emission #1999
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Update README.md
  README.md
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Make CHANGELOG.md more concise
  CHANGELOG.md
Labels: none

Remove duplicated terms from CHANGELOG.md
  CHANGELOG.md
Labels: none

Move import to oeo-shared
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo.omn, oeo-shared

modigy calalog file
  src/ontology/edits/catalog-v001.xml
Labels: none

modify second catalog file
  src/ontology/catalog-v001.xml
Labels: none
