Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Added changelog
  CHANGELOG.md
Labels: none

Added sparql tests
  .github/workflows/automated-testing.yml
  tests/verify/annotation_trailing_whitespace.sparql
  tests/verify/duplicate_definition.sparql
  tests/verify/duplicate_labels.sparql
  tests/verify/only_bfo_supers.sparql
  tests/verify/ontology_title.sparql
  tests/verify/subclass_circularity.sparql
Labels: none

Disable bfo supers because UO imports
  tests/verify/only_bfo_supers.sparql.disabled
Labels: none

Add delayed transition scenario
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add changelog and term tracker
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove doaim and range
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update term tracker and changelog
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added alternative labels to explain acronyms
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom has part #2053
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/oeo.omn
Labels: oeo.omn

add axiom to oeo energy transformation and chp for testing #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Revert "change axiom has part #2053"
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/oeo.omn
Labels: oeo.omn

new axiom for electricity generation process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom to fuel powered el gen process and combined cycle #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom to combustion thermal energy trafo #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom for gas turbine process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom for heat generation process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for hydro energy trafo #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for hydroelectric energy trafo #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for hydroelectric energy trafo subclasses #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for nuclear energy trafo #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for power-to-fuel #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for power-to-gas and power-to-liquid #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for power-to-ammonia #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axiom for power-to-methane #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axioms for solar energy trafo #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axioms for solar energy trafo subclasses #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axioms for solar steam electric process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axioms for water electrolysis process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axioms for wind energy trafo #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change axioms for steam reforming #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

move based on sector division relation to oeo-shared #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move covers energy carrier (shortcut) relation to oeo-shared #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

move covers technology (shortcut) relation to oeo-shared #2119
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms
