Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add Example for relation refers to energy carrier
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add Example for relation refers to temporal region
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add Example for relation refers to technology
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Move property "refers to" from oeo-model.omn to oeo-shared.omn
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

Move property "refers to energy carrier" from oeo-model.omn to oeo-shared.omn
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

Move property "refers to technology" from oeo-model.omn to oeo-shared.omn
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

Move property "refers to temporal region" from oeo-model.omn to oeo-shared.omn
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

Add term tracker annotations
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Add new property "occurs in" in oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker annotations
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: energy converting component "participates in" some energy transformation # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker annotations #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Revert "Remove Axiom: energy converting component "participates in" some energy transformation # 2307"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add new property "occurs in" in oeo-physical.omn #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: power plant "participates in" electricity gain process # 2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: electricity gain process "occurs in" some power generating unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: photovoltaic cell "participates in" some photovoltaic energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: photovoltaic energy transformation "occurs in" some photovoltaic cell #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: fueled power plant "participates in" some fuel-powered electricity generation process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: fuel-powered electricity generation process "occurs in" some fueled power unit #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: fueled power unit "participates in" some fuel-powered electricity generation process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: gas turbine "participates in" some gas turbine process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: gas turbine process "occurs in" some gas turbine #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: power generating unit "participates in" some curtailment #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: curtailment "occurs in" some power plant #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: power-to-gas system "participates in" some power-to-gas process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-gas process "occurs in" some power-to-gas system #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: steam turbine "participates in" some steam-electric process #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: steam-electric process "occurs in" some steam turbine #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: water turbine "participates in" some hydro energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: hydro energy transformation "occurs in" some water turbine #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: wind rotor "participates in" some wind energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: wind energy transformation "occurs in" some wind rotor #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: hydro power unit "participates in" some hydroelectric energy transformation #2305
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
