Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Add `service product` #1239 #1514
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add term tracker annotation and update CHANGELOG.md
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Use `product` in domain/range of `trades` and `is traded at` #1239
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Annotation not needed anymore as `product` should also cover financial instruments
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add editor notes to `oeo:unit` and `physical unit` #1871
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

replaced 'has bearer' with 'characteristic of' once
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add axiom between monetary price and procuct #1902
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

replaced 'has bearer' once
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

remove blank line in CITATION.cff
  CITATION.cff
Labels: none

replaced 'has bearer' with 'characteristic of' in all omn-files
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social, oeo-shared, oeo-shared-axioms

Updated changelog
  CHANGELOG.md
Labels: none

Fix CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Updated term tracker annotation for good role
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Replaced missed 'has bearer'
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

make economic value obsolete #1917
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo.omn, oeo-shared

make subclasses of economic value subclasses of quantity value #1917
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-social, oeo.omn, oeo-shared

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

make economic value of obsolete #1917
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

make has economic value obsolete #1917
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

make economic value obsolete #1917
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

changelog #1917
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CITATION.cff
  CITATION.cff
Labels: none

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update CITATION.cff
  CITATION.cff
Labels: none

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

make has bearer obsolete #1907
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared
