Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Match `manufacturing process` to https://spec.industrialontologies.org/ontology/core/Core/ManufacturingProcess #1726
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update size and add amount
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Changelog and term tracker items
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add policy instrument functions #1826
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add `has bearer` axioms and term tracker items; update CHANGELOG.md #1826
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Convert subhierarchy of `policy instrument` into equivalent classes #1826
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

Apply suggestions from code review
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Apply suggestions from review #1826
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Apply suggestions from code review
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Simplify domain and range of `is traded at` and `trades` #1239
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update term tracker items and CHANGELOG.md #1239
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

add term tracker annotation property #1850
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

fix def, changelog #1850
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

fix def again
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

add def #1875
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

add term trackers #1875
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

make fraction value subclass of relational quantity value #1875
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

make fraction value to oeo-shared #1875
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

make market share value a fraction value #1875
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

make annual gdp growth a fraction value #1875
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

make discount rate a fraction value #1875
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

make exchange rate a fraction value #1875
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

make inflation rate a fraction value #1875
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

make PPP a fraction value #1875
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

relabel monetary price as monetary value #1902
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

monetary price #1902
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update definitions from review discussions #1239
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

add axiom to electricity price #1902
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared-axioms

add axiom to electricity price #1902
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared-axioms

add axiom to export price #1902
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared-axioms

add axiom to export price #1902
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared-axioms

Added self to contributing files
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

added myself to CITATION.cff and oeo.omn
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

replaced term tracker item with term tracker annotation
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social, oeo-shared, oeo-sector

changelog.md and term tracker annotations added
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

fix annotations of term tracker annotation #1850
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
