Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

merge two term tracker annotations into one, biogasoline, #1922
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

correct term tracker annotations of term tracker annotation #1850
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

replaced term tracker item with term tracker annotation
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-physical-axioms.owl
Labels: none

replaced more term tracker items with annotation
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-physical-axioms.owl
Labels: none

added term tracker and changelog
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

more replacements and fixed prefixes
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

declare prefix in oeo-import-edits
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
Labels: none

declare prefix in oeo-physical-axioms
  src/ontology/edits/oeo-physical-axioms.owl
Labels: none

fix typo, have protege rearrange oeo-physical
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

have protege rearrange oeo-model
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

have protege rearrange oeo-sector
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

have protege rearrange oeo-shared
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

have protege rearrange oeo-social
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add `licensee`, `licence provider`, `permits` and `has licence provider` #1873
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add term tracker annotations and update CHANGELOG.md #1873
  CHANGELOG.md
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

changelog #1902
  CHANGELOG.md
Labels: none

Fix term tracker #1873
  src/ontology/oeo.omn
Labels: oeo.omn

Fix term tracker #1873
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Undo changes in oeo.omn #1873
  src/ontology/oeo.omn
Labels: oeo.omn

bugfix duplicate annotation declaration #1850
  src/ontology/edits/oeo-physical-axioms.owl
Labels: none

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add German labels #1873
  src/ontology/oeo.omn
Labels: oeo.omn

Add German labels #1873
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

Apply suggestions from code review
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Delete comment from `uo:unit` that is not needed anymore #1871
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Add alternative labels #1871
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared
