Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Add English language tag to english alternative labels to German alternative labels from PR #1854 #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-physical, oeo-sector

Add english language tag to alternative labels #1854 #1471
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Add five alternative german labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social, oeo-sector

Add 5 german alternative labels, add 1 en language tag to alternative label #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 6 german alternative labels, add 2 en label tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels, add en label tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-social, oeo-shared

Add 5 german alternative labels, add en language tags, fix typo #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 6 german alternative albels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 6 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 6 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 6 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 2 german alternative labels, add en lanuage tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-physical, oeo-sector

Add 5 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-model, oeo-physical, oeo-sector

Add 6 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 6 german alternative labels, add en language tag #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social, oeo-sector

Add 5 german alternative labels, add en language tags #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-social

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Apply suggestions from code review
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Fix CHANGELOG.md #1471
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
