Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Add Domain and Range for property "has aggregation type" in oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add term tracker annotations for "has aggregation type"
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update Definition of 'has aggregation type'
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Expand domain of 'has temporal resolution' to 'data set' or 'quantity value'
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update Definition of 'has temporal resolution'
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update Definition of 'has aggregation type'
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

replace oeo:occurs_in with bfo:occurs_in in axioms #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

delete oeo:occurs_in #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2255
  CHANGELOG.md
Labels: none

remove axiom between fuel-powered electricity process and fueled power plant #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between power-to-methane process and system #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between power-to-gas process and system #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between hydro energy process and water turbine #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between hydroelectric energy transformation and hydro power unit #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between marine current energy transformation and marine current energy converting unit #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between marine tidal energy transformation and marine tidal energy converting unit #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between marine wave energy transformation and marine wave energy converting unit #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom between mineral oil refinary process and mineral oil refinery #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove equivalence axioms with participates in from solar radiation receiving surface subclasses #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to solar tracking #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to solar tracking subclasses #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to combined heat and power generating process #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to combustion fuel transport and remove participates in axiom from filling station #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to hydrogen transport and remove participates in axiom from hydrogen station #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to power-to-fuel process #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add has participant axiom to power-to-ammonia process #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2255
  CHANGELOG.md
Labels: none

fix bugs #2255
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change IRIs for underground power line, overhead power line, submarine power line, turboshaft gas turbine, turboprop gas turbine, turbofan gas turbine, turbojet gas turbine #2315
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add term tracker annotations and remove term tracker item #2315
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2315
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Apply suggestion from @NormanZielke
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move dam to material artifact #2276
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Move data center to material artifact #2276
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
