Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

remove uo:unit from oeo in uo-extracted #2135
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/uo-extracted.owl
Labels: oeo-physical, oeo-social, oeo-shared, oeo-shared-axioms, oeo-sector

split axiom of cold start #2138
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Some minor changes according to discussion in pull request #2142. Changed typos in definitions, added pull request to term tracker item.
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

split axiom of emission certificate price #2138
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

add subclassof axiom to greenhousegas emission #2138
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

split axiom of startup speed #2138
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2138
  CHANGELOG.md
Labels: none

add translational kinetic energy #2136
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add motion #2136
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2136
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add diff action
  .github/workflows/diff.yml
Labels: none

Add an automatic comment to PRs showing resulting OWL changes #2148
  .github/workflows/diff.yml
Labels: none

Add an automatic comment to PRs showing resulting OWL changes #2148
  .github/workflows/diff.yml
Labels: none

Add an automatic comment to PRs showing resulting OWL changes #2148
  .github/workflows/diff.yml
Labels: none

relabel electricity generation/gain process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

relabel heat generation/gain process #2053
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Apply suggestion from @stap-m
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

change propulcion axiom #2136
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelod.md
  CHANGELOG.md
Labels: none

correct PR number in term tracker annotations
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add diff action
  .github/workflows/diff.yml
Labels: none

update changelog.md #2135
  CHANGELOG.md
Labels: none

add synonym ICE for internal combustion engine #2153
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog #2153
  CHANGELOG.md
Labels: none

add simplified axioms to meno:energy increase and decrease #2137
  src/ontology/edits/oeo-import-edits.owl
Labels: none

add term track annotations #2137
  src/ontology/edits/oeo-import-edits.owl
Labels: none

changelog #2137
  CHANGELOG.md
Labels: none

Don't show term tracker annotations
  .github/workflows/diff.yml
Labels: none

change axiom between monetary value and good (role) #2144
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

change axiom between emission certificate and emission certificate price #2144
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

remove axiom from good role #2144
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

changelog #2144
  CHANGELOG.md
Labels: none

Update oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

move classes from co-sim to model module and update
  src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add new contributor information to CITATION.cff
  CITATION.cff
Labels: none

add OEO dev team as creator #1571
  src/ontology/oeo.omn
Labels: oeo.omn

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
