Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

No unnecessary changes
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added term tracker annotation
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Updated changelog
  CHANGELOG.md
Labels: none

Follow up to merge
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Made use of classes instead of individuals for regions of relevance implementations and their roles
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Remove falling and photosynthesis from meno-extracted.owl
  src/ontology/imports/meno-extracted.owl
Labels: none

Re-add term trackers and hierarchy
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Changed implementation of arable land classes
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Added changelog
  CHANGELOG.md
Labels: none

add covers sector (shortcut) #2013
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

correct sparql
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

term tracker annotations #2013
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

changelog #2013
  CHANGELOG.md
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Add changes to definitions
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

add equivalence axiom to energetic conversion process
  src/ontology/edits/oeo-import-edits.owl
Labels: none

replace all term tracker items with term tracker annotations in oeo-import-edit.owl
  src/ontology/edits/oeo-import-edits.owl
Labels: none

Fix example
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Missing landscape classifications for SLE project (#1991)
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

adjust changelog, citation and version for release
  CHANGELOG.md
  CITATION.cff
  VERSION
Labels: none

update order in changelog
  CHANGELOG.md
Labels: none

revert obsoletion wording
  CHANGELOG.md
Labels: none

Fix python version in release workflow
  .github/workflows/PostReleaseScripts.yml
Labels: none

add unreleased section to changelog
  CHANGELOG.md
Labels: none

Remove line only used for getting the release files
  .github/workflows/PostReleaseScripts.yml
Labels: none

Bumped python version in release workflow (#2030)
  .github/workflows/PostReleaseScripts.yml
Labels: none

create co-simulation-scenario-ontology file with oeo-model import #2033
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-co-sim.omn
Labels: none

Removed unnecessary changes in oeo-physical
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Improved annotations for legislation individuals
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Apply suggestions
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Implemented recommended changes to "arable land" classes
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Updated changelog
  CHANGELOG.md
Labels: none

Updated term tracker annotation
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Proposed implementation of 'voltage level'
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
