Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Fix changelog #1333
  CHANGELOG.md
Labels: none

Clean oeo.omn #1333
  src/ontology/oeo.omn
Labels: oeo.omn

Update changelog #1862
  CHANGELOG.md
Labels: none

Add 7 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Add 5 new german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-social, oeo-shared

Add five german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 4 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-sector

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

Add 5 german alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

Fix switched definitions of `electricity export value` and `electricity import value` #1863
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add 5 new German alternative labels #1471
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker items and update changelog
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Update src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Update src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Fix typos
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
