Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add oekg specific annotation #1529
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

declare climate neutrality criterion as study descriptor
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

declare negative emission as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare renewable energy share as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare flexibility as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare energy conversion efficiency as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare resilience as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare LCA as study descriptor
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

declare CO2 emission as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare ghg emission as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare energy demand as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare electrical energy share as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare gross electricity generation as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare gross electricity / gas / heating grid as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare sector coupling as study descriptor
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

declare study report due to legal obligation as study descriptor
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

declare regionalisation as study descriptor
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

declare model coupling as study descriptor
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

declare scenario projection comparison as study descriptor
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

declare model intercomparison study as study descriptor
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

declare acceptance as study descriptor
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

declare sufficiency as study descriptor
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

declare policies and measures as study descriptor
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

declare decarbonisation pathway as study descriptor
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

changelog
  CHANGELOG.md
Labels: none

fix mistakes
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

fixing bugs
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Changelog and term tracker items
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

added kilowatt and megawatt as units
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

updated changelog.md and term tracker items
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

fixed typo
  CHANGELOG.md
Labels: none

Update oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Relabel `industrial technology` and `industrial plant` #1726
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Redefine `industrial process` -> `manufacturing process`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Split `industrial material` into `manufactured material` and `manufactured commodity`: #1726
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-physical, oeo-shared-axioms

Improve axioms #1726
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-shared-axioms

Add German label #1726
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Apply suggestions from code review
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
