Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

move annotations of disposition to oeo-import-edits #1907
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Change version number to 2.5.0
  CHANGELOG.md
  CITATION.cff
  VERSION
Labels: none

Sort changelog by PR numbers
  CHANGELOG.md
Labels: none

Move alternative labels from iao-extracted to oeo-social
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-extracted.owl
Labels: oeo-social

Fix changelog
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Bumped version of actions in automated-testing Workflow to remove Deprecation Warnings
  .github/workflows/automated-testing.yml
Labels: none

Update secret in IssueProject.yml
  .github/workflows/IssueProject.yml
Labels: none

Change Action used by IssueProject.yml to one supporting Projects V2
  .github/workflows/IssueProject.yml
Labels: none

Add and edit prerequisites
  CONTRIBUTING.md
Labels: none

Add welcoming message
  CONTRIBUTING.md
Labels: none

Move conventions up to where they are first needed
  CONTRIBUTING.md
Labels: none

Move emoji table back up
  CONTRIBUTING.md
Labels: none

Make headlines more accessable for newcomers and add table of contents
  CONTRIBUTING.md
Labels: none

Replace term tracker item with annotation
  CONTRIBUTING.md
Labels: none

Improve readability and some flavor text
  CONTRIBUTING.md
Labels: none

Expand the collaboration section
  README.md
Labels: none

Add links to communicate section
  CONTRIBUTING.md
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

Replace term tracker item with annotation
  .github/pull_request_template.md
Labels: none

Update Changelog
  CHANGELOG.md
Labels: none

Change message to be more obvious
  CHANGELOG.md
Labels: none

Add new module
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add experimental implementation for first task
  src/ontology/edits/oeo-tasks.omn
Labels: none

Add provisional definitions
  src/ontology/edits/oeo-tasks.omn
Labels: none

Change definition of determined wind characteristics
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update definitions
  src/ontology/edits/oeo-tasks.omn
Labels: none

Remove new relations
  src/ontology/edits/oeo-tasks.omn
Labels: none

Update changelog
  CHANGELOG.md
Labels: none

Remove entry from changelog
  CHANGELOG.md
Labels: none

Update CONTRIBUTING.md
  CONTRIBUTING.md
Labels: none

renew import of oeo-import-edits to oeo-shared
  src/ontology/edits/catalog-v001.xml
Labels: none

Change lable and add alt lable
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Revert "Change lable and add alt lable"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Change lable
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Revert "Change lable"
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Change lable
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
