Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

Add axiom: fuel-powered electricity generation process "occurs in" power generating unit # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Remove Axiom: gas turbine "participates in" some gas turbine process # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: fuel-powered electricity generation process "has participant" some fueled power unit # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: fuel-powered electricity generation process "has participant" some fueled power plant # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: gas turbine process "has participant" some gas turbine# 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: gas turbine process "occurs in" some gas turbine # 2307
  src/ontology/oeo.omn
Labels: oeo.omn

Remove Axiom: power-to-methane system "participates in" some power-to-methane process # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-methane process "occurs in" some power-to-methane system # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Remove Axiom: power generating unit "participates in" some curtailment # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: power generating unit "participates in" some energy transformation # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: energy transformation "occurs in" power generating unit # 2307
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/oeo.omn
Labels: oeo.omn

Remove Axiom: curtailment "has participant" some power generating unit # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: curtailment "occurs in" some power generating unit # 2307
  src/ontology/oeo.omn
Labels: oeo.omn

Update axiom: curtailment "occurs in" some power plant # 2307
  src/ontology/oeo.omn
Labels: oeo.omn

Remove Axiom: power-to-gas system "participates in" some power-to-gas process # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add Term tracker annotation
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: power-to-gas process "occurs in" some power-to-gas system # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Remove Axiom: steam turbine "participates in" some steam-electric process # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: steam-electric process "occurs in" some electromotive generator # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Remove Axiom: steam-electric process "has participant" electromotive generator # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: steam-electric process "occurs in" some steam turbine # 2307
  src/ontology/oeo.omn
Labels: oeo.omn

Remove Axiom: steam-electric process "has participant" steam turbine # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Remove Axiom: hydro power plant "participates in" some hydroelectric energy transformation # 2307
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add axiom: hydroelectric energy transformation "occurs in" hydro power unit # 2307
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

Change dev name in id range 4 #2307
  src/ontology/oeo-idranges.owl
Labels: none

Move Axioms and annotations to oeo-model.omn #2307
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

Update src/ontology/oeo.omn
  src/ontology/oeo.omn
Labels: oeo.omn

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*
