Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update release workflow to include oeo-closure.owl #2282
  .github/workflows/PostReleaseScripts.yml
Labels: none

Add download links to README #2282
  README.md
Labels: none

Update version to 2.13.0
  CITATION.cff
  VERSION
  src/ontology/oeo.omn
Labels: oeo.omn

Update version to 2.13.0 in changelog
  CHANGELOG.md
Labels: none

Apply suggestions from code review
  CHANGELOG.md
Labels: none

add new unreleased section to changelog after release
  CHANGELOG.md
Labels: none

add new unreleased section to changelog after release
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Apply suggestions from code review
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2274
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
Labels: none

remove alternative label from solar electrolytic hydrogen #2264
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

remove unwanted class calls #2286 and update changelog
  CHANGELOG.md
  src/ontology/oeo.omn
Labels: oeo.omn

add base load roal #2292
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add base load power plant #2292
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

update changelog #2292
  CHANGELOG.md
Labels: none

add alternative labels to commercial sector #2289
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

update changelog #2289
  CHANGELOG.md
Labels: none

harmonize oekg annotations in oeo-social to study descriptor tag #2295
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

add term tracker items in oeo-social #2295
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

harmonize oekg annotations in oeo-model to study descriptor tag #2295
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

harmonize oekg annotations in oeo-physical to study descriptor tag #2295
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

harmonize oekg annotations in oeo-shared to study descriptor tag #2295
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Apply suggestion from @stap-m
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add term tracker items in oeo-model #2295
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add term tracker items in oeo-physical #2295
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

changelog #2295
  CHANGELOG.md
Labels: none

add hydrogen supply chain, changelog #2290
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Apply suggestions from code review
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Apply suggestions from code review
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Apply suggestion from @stap-m
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Apply suggestion from @NormanZielke
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

Restore lost line of CHANGELOG.md
  CHANGELOG.md
Labels: none

Check if no language tag is used with sparql
  tests/verify/labels.sparql
Labels: none

Empty (purly spaces) commit to trigger CI again
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added missing language tagsto model omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Added missing lang tag
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared
