Repository OpenEnergyPlatform/ontology, changes with the labels that .github/labeler.yml gives for each.
All labels: oeo-model, oeo-physical, oeo-social, oeo.omn, oeo-shared, oeo-shared-axioms, oeo-sector, external ontology

.github/labeler.yml:

oeo-model:
 - src/ontology/edits/oeo-model.omn

oeo-physical:
 - src/ontology/edits/oeo-physical.omn

oeo-social:
 - src/ontology/edits/oeo-social.omn

oeo.omn:
 - src/ontology/oeo.omn

oeo-shared:
 - src/ontology/edits/oeo-shared.omn

oeo-shared-axioms:
 - src/ontology/edits/oeo-shared-axioms.omn

oeo-sector:
 - src/ontology/edits/oeo-sector.omn
 
external ontology:
  - src/ontology/modules/*

add data property
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

remove annotation property
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

correct IRI
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

add term tracker item
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

changelog
  CHANGELOG.md
Labels: none

add has prefix to oeo-shared
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

changelog
  CHANGELOG.md
Labels: none

Added output of RO extract script
  src/ontology/imports/ro-extracted.owl
Labels: none

Updated changelog
  CHANGELOG.md
Labels: none

Removed extra annotations
  src/ontology/imports/ro-extracted.owl
Labels: none

Add class "quantity"
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term tracker item
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Add `industrial technology` and `industrial plant`
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Add term tracker items and update CHANGELOG.md #1726
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

correction of axiom
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

Update oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

changing label and adding axiom
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

Add term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

add model coupling #1521
  examples/regions.ttl.txt
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Adjusting axioms
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update CHANGELOG.md
  CHANGELOG.md
Labels: none

add sector coupling technology #1521
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add sector coupling #1521
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add axiom
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

changelog
  CHANGELOG.md
Labels: none

add term tracker
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Delete examples/regions.ttl.txt
  examples/regions.ttl.txt
Labels: none

remove unintended annotation from uo-extracted
  src/ontology/imports/uo-extracted.owl
Labels: none

Update src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Commit suggestion
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

Update oeo-physical.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add system robustness #1683
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

add robust system scenario #1683
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-model, oeo-physical
