Repository OpenEnergyPlatform/ontology, pull requests merged in 2019-11, with the labels that each got.

#92 Create issue templates
  .github/ISSUE_TEMPLATE/-a--new-ontology-term.md
  .github/ISSUE_TEMPLATE/-b--restructure-ontology.md
  .github/ISSUE_TEMPLATE/-c--normal-issue.md
  CHANGELOG.md
Labels: enhancement

#104 Change definition of SectorConcept
  oeo.omn
Labels: [B] restructure

#120 Delete has property
  oeo.omn
Labels: [B] restructure

#121 Create ArtificialObject with definition
  CHANGELOG.md
  oeo.omn
Labels: [A] new term

#101 Delete contact and subclasses
  CHANGELOG.md
  oeo.omn
Labels: [B] restructure

#102 Delete subclasses of assumption
  CHANGELOG.md
  oeo.omn
Labels: [B] restructure

#124 Make has_state_of_matter subproperty of has_quality
  oeo.omn
Labels: [B] restructure

#130 Implement concepts of fossil, biogenic, renewable and synthetic
  CHANGELOG.md
  oeo.omn
Labels: SzenarienDB, [A] new term
