Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-07, with the labels that each got.

#472 move uses and has_process_attribute to oeo_shared
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: [B] restructure, oeo-model, oeo-physical

#477 Update sector definition #30
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#462 Add definition, relation subclass underground hydrogen storage
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#478 add property definitions
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/ro-module.owl
Labels: oeo-physical

#480 Rename object property "conforms_to" to "is_defined_by" and add description
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-social

#484 Redefine and reclassify sector
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#496 correct spelling, add term tracker issue #495
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical

#493 add energy and supply system
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#494 Change properties to use numerical identifiers
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-social

#497 include study and study report
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model

#491 add definitions for Population and rural/urban/working subclasses #479
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#498 add primary energy carrier classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
