Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-11, with the labels that each got.

#586 Releases/v1.2.0 to dev
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-annotation-module.owl
  src/ontology/imports/iao-minimal-module.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#587 Releases/v1.2.0 to master
  .github/workflows/InDiscussionProject.yml
  .github/workflows/RemoveToDo.yml
  CHANGELOG.md
  README.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-annotation-module.owl
  src/ontology/imports/iao-minimal-module.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#589 add industrial process
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

#591 add energy conversion efficiency and related classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#592 Include Fuel-powered electricity generation and relations
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#594 Update class 'powerplant'
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#595 Implement sector concept of Bundes-Klimaschutzgesetz
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#600 add radiation and solar radiation
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo.omn

#602 Fix license annotation property URI
  src/ontology/oeo.omn
Labels: oeo.omn

#603 fixing part of and has part
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#607 Feature/potential #481
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#608 adding more subclasses of energy unit #606
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#610 add aggregation types
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [A] new term, oeo-model
