Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-09, with the labels that each got.

#545 Releases/v1.1 -> dev
  CHANGELOG.md
  README.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#544 Releases/v1.1 -> master
  .github/ISSUE_TEMPLATE/-a--new-ontology-term.md
  .github/ISSUE_TEMPLATE/-b--restructure-ontology.md
  .github/ISSUE_TEMPLATE/-c--definition-update.md
  .github/ISSUE_TEMPLATE/-d--normal-issue.md
  .github/labeler.yml
  .github/stale.yml
  .github/workflows/InDiscussionProject.yml
  .github/workflows/RemoveToDo.yml
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#550 Add class sensitivity analysis to oeo-model
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#556 restructure has participant subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, [B] restructure, [C] definition update, oeo-social

#557 add properties for study and study report
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-social, oeo.omn

#559 add gross domestic product
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-shared, oeo-social

#561 redefine licence
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#562 add has member and member of
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, oeo-social

#538 add time step, time series
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

#563 add gross value added
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social
