Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-12, with the labels that each got.

#609 add kinetic energy; change heat to thermal energy
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#613 Feature/consumption subclasses #576
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-shared, oeo-social

#615 Add solar-related densities
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#614 Feature/dynamic versions
  .travis.yml
  Makefile
  VERSION
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-annotation-module.owl
  src/ontology/imports/iao-minimal-module.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#616 adopt obo metadata ontology
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/iao-annotation-module.owl
  src/ontology/imports/iao-minimal-module.owl
  src/ontology/imports/iao-module.owl
Labels: oeo-model, oeo-physical, oeo-shared

#621 Add alternative term 'electricity' to class 'electrical energy'
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#626 change def of relations
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-shared, oeo-social

#627 restructure energy carrier
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#631 Extend rdf:comment of class 'waste fuel' #629
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#633 add primary, secondary and final energy carrier (disposition)
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#635 Releases/v.1.3.0 to master
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  VERSION
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-annotation-module.owl
  src/ontology/imports/iao-minimal-module.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn
