Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-03, with the labels that each got.

#265 add iao-annotation-module and import it into edit modules
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-annotation-module.owl
Labels: [B] restructure

#234 Change GreenhouseGas individuals to classes
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, [B] restructure

#271 make factsheet a document and add a definition
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, [C] definition update

#272 move Database to information content entity and add definition
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, [C] definition update

#274 replace our has_quality with RO's 'has quality'
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/ro-module.owl
Labels: [B] restructure

#276 restructure EnergyStorage
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, [B] restructure

#281 fix spelling issues
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure

#285 change Documentation
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, [C] definition update

#286 change Framework
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure

#283 delete not needed classes
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure

#289 restructure DataProcessing
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, [C] definition update

#287 reclassify Model as generically dependent continuant
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure

#290 update PortionOfMatter definitions
  src/ontology/edits/oeo-physical.omn
Labels: Energy carriers and fuels

#273 restructure Generator and ArtificialObject classes
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: [A] new term, [B] restructure, [C] definition update

#295 Add github handle to my contribute #284
  src/ontology/oeo.omn
Labels: good first issue
