Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-06, with the labels that each got.

#417 delete classes for first release
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, oeo-model

#418 delete study, correct project
  src/ontology/edits/oeo-model.omn
Labels: [C] definition update, oeo-model

#419 delete wrong axiom of combustible energy carrier disposition
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#386 restructure quantity
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, [B] restructure, oeo-physical

#391 add "capacity" terms #320
  src/ontology/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: [A] new term, oeo-physical

#421 separate organization and organization role
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, [B] restructure, oeo-social

#422 fix IRIs of oeo-physical module
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#424 Fix IRIs
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-annotation-module.owl
  src/ontology/imports/iao-minimal-module.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-social

#431 Add class vehicle and add methane natural gas relationship
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#436 fix hardware def
  src/ontology/edits/oeo-physical.omn
Labels: bug, oeo-physical

#438 Add dc:license and use dc:description in ontology headers
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-social

#445 Include ethanol
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#440 add factsheet-covers-relationships
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#450 add shared module and make energy transformation subclass of transformation
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

#452 delete unused properties
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical

#453 Extend vehicle subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#463 Feature/trafficsector#456
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#470 Extend equivalence expression for 'fueled power unit' #469
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
