Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-08, with the labels that each got.

#500 add endogeneous, exogeneous data
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#504 restructure model calculation
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#509 add classes hub height and length value, add object property has quan…
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#516 remove upper case and include correct issue in term trecker
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#517 add transport and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: [A] new term

#519 Move unit class, and add has unit property
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#513 replace underscores with spaces in labels of object properties
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

#518 Add is about property
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/iao-module.owl
Labels: oeo-physical

#524 Update definition of electrical energy, Closes #224
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [C] definition update, oeo-physical

#510 Feature/contribute #507
  CONTRIBUTING.md
Labels: oeo dev meeting

#525 update def of assumption
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#523 Add annotation property unique individual identifier and some IPCC sector indiviuals
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#531 Remove own 'definition' annotation property and instead use IAO's
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-social

#536 add output data
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#537 adjust unit definition
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/uo-module.owl
Labels: oeo-physical

#542 Institution definition changed: added s to serves in definition.
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#543 changed id for litotes18 (Ulrich Frey)
  src/ontology/oeo.omn
Labels: oeo.omn
