Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-04, with the labels that each got.

#300 change turbine definitions
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [C] definition update

#306 restructure Powerplant, PowerGeneratingUnit
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, [C] definition update

#322 delete geographic classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure

#333 Feature/templates #332
  .github/ISSUE_TEMPLATE/-a--new-ontology-term.md
  .github/ISSUE_TEMPLATE/-b--restructure-ontology.md
  .github/ISSUE_TEMPLATE/-c--definition-update.md
  CONTRIBUTING.md
Labels: organisation

#324 delete hydro powerplant and subclasses
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#334 Feature/technology #136
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/iao-minimal-module.owl
Labels: [B] restructure, [C] definition update, oeo-physical

#321 make origin individuals classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#344 update scenario
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [A] new term, [B] restructure, [C] definition update

#346 Add label documenations
  CONTRIBUTING.md
Labels: organisation

#349 change model definition #180
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [C] definition update, oeo-model

#348 delete Software element
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, oeo-model

#311 improve README.md
  README.md
Labels: organisation

#347 delete validation and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, oeo-model

#345 Define modeling software #338
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#350 update hardware def
  src/ontology/edits/oeo-physical.omn
Labels: [C] definition update, oeo-physical

#351 delete unused and undefined object properties
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: [B] restructure

#355 delete NewPowerFromPhotovoltaics
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#357 delete funding
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, oeo-model

#354 add state of matter equivalent classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#358 restructure model classes
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, [C] definition update, oeo-model

#360 add wiki link to mass nouns
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#364 Update def and class of energy
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo dev meeting, oeo-physical

#356 Add air pollution subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#366 leave out electricity grid subclasses for first release
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#367 delete water classes
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#368 delete quantity subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical
