Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-10, with the labels that each got.

#565 add validation and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [A] new term, oeo-model

#566 remove software maintenance
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#568 add chemical reaction and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#569 add demand and consumption
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, oeo-social

#570 add time stamp and time stamp alignment
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: [A] new term, oeo-model

#577 add model descriptor and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#581 Reinclude class 'emission factor' with new definition
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#584 change factsheet relation
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#578 Add sector individuals
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social
