Repository OpenEnergyPlatform/ontology, pull requests merged in 2020-05, with the labels that each got.

#373 leave out CollaborativeProgramming
  src/ontology/edits/oeo-model.omn
Labels: [B] restructure, oeo-model

#389 add script to automatically add everything to "Issue" project
  .github/workflows/IssueProject.yml
Labels: enhancement

#370 add energy producer classes
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, [B] restructure, [C] definition update, oeo-social

#387 add IDs to contributors
  src/ontology/oeo.omn
Labels: organisation

#398 Feature/renewable #397: Update definiton of renewable
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#402 delete individual "other"
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#404 add DOI full name
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#400 make liquid and solid biofuel direct subclasses of biofuel
  src/ontology/edits/oeo-physical.omn
Labels: bug, oeo-physical

#385 Include grid subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, [B] restructure, oeo-physical

#408 Delete class carbon dioxide emission #405
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#410 Add 'has participant' relationship to emission subclasses
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
