Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-10, with the labels that each got.

#883 add axioms between typical period and aggregation type #880
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#882 add scenario year, meteorological year, scenario horizon #474
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#885 Release 1.7.0 to master
  .github/workflows/automated-testing.yml
  .travis.yml
  CHANGELOG.md
  CONTRIBUTING.md
  Makefile
  README.md
  VERSION
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-module.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#884 Release 1.7.0 to dev
  CHANGELOG.md
  VERSION
  src/ontology/oeo.omn
Labels: oeo.omn
