Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-02, with the labels that each got.

#665 add radiative energy
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#674 add class photon #661
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#666 restructure wind energy
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#670 add potential energy
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#672 restructure solar energy
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#678 fix secondary energy carrier
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#676 Add abbreviations GDP and GVA #675
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#682 restructure hydro energy classes in dev meeting
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#683 Add class global warming potential
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#686 Rewrite the license url as an IRI #667
  CHANGELOG.md
  src/ontology/oeo.omn
Labels: oeo.omn

#684 add equivalent "renewable energy carrier" #515
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#689 Update definition of water
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#691 Adding steam-electric process
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#690 Add has input/has output to energy transformation
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#687 Add new user 0016 Christoph Muschner
  src/ontology/oeo.omn
Labels: oeo.omn

#652 add general class axioms
  Makefile
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/oeo.omn
Labels: oeo.omn

#697 Add emission quantity value
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#699 add nuclear energy classes #522 #692
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#701 Add class solar-steam-electric process #668
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#693 Add volumetric flow rate value and add in water flow rate #688
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

#702 restructure has input / has physical input #664
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/ro-module.owl
Labels: oeo-physical

#704 Add axioms to class ethanol #703
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
