Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-03, with the labels that each got.

#708 add thorium and plutonium
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

#715 Create CODE_OF_CONDUCT.md #648
  CODE_OF_CONDUCT.md
Labels: enhancement, meta issue, oeo dev meeting, organisation

#716 update subclasses of has input / has output
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: [C] definition update, oeo-model, oeo-physical

#712 Feature 711 branch naming convention
  CONTRIBUTING.md
Labels: enhancement, oeo dev meeting, organisation

#719 update gross inland energy consumption and primary energy consumption
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared
