Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-06, with the labels that each got.

#766 fix has (physical) input / output relations
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#765 Add class river and annotation property owl:equivalentClass #760
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#764 add analysis scope #638
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-shared, oeo-social

#758 Restructure hydro power plant and related classes #78
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#768 Add class reservoir hydro storage powerplant #767
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#769 add fluid
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: [A] new term, oeo-physical, oeo.omn

#770 restructure heat subclasses #393
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#774 add explanation to alternative term
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#776 Add subclasses (public & private) funder #246
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, oeo-social

#772 change spelling, fix minor mistakes
  .github/ISSUE_TEMPLATE/-c--definition-update.md
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social

#779 market related concepts
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social

#778 add contract related concepts
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#780 add re-share
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#781 add `emission market exchange` #302
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social
