Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-11, with the labels that each got.

#923 add combined heat and power #915
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#927 Update list of contributors #926
  CHANGELOG.md
  src/ontology/oeo.omn
Labels: oeo.omn

#929 add market revenue #908
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#924 add eurostat synonyms #920
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#935 Add class power value and add unit axioms to some classes #918
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#932 add electricity generation terms #917
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#933 Feature 889 space requirement
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#931 Add solid, liquid and gaseous fuels
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#941 Add individuals from MMR template
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#943 Fix typos
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#945 add liquid air production and redefine liquid air #937
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#944 Add total emissions and bunkers
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#949 add rotor diameter #892
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#950 Add classes `energy use` and `non-energy use` #718
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#953 add variable cost #891
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#955 add conventional #833
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#951 Add classes `decarbonisation pathway` and `emission constraint` #831
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model

#957 Rename `synthetic liquid fuel` to `PtL fuel` and adapt axioms
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#952 Restructure `biofuel` #872
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#954 Restructure power-to-gas related classes #940
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#956 add social cost of carbon #866
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#959 Adapt `ammonia`, add `synthetic ammonia` and `power-to-ammonia process` #939
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#961 Improve `waste fuel` hierarchy #925
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#962 Fix things from PR #961
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#946 add net capacity factor #890
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
