Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-07, with the labels that each got.

#783 fix provider classification
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#782 add energy related axioms
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#785 Releases v1.6.0 to master
  .github/ISSUE_TEMPLATE/-c--definition-update.md
  CHANGELOG.md
  VERSION
  mintty.2021-05-03_14-35-42.png
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#790 Hotfix v1.6.1
  CHANGELOG.md
  VERSION
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#789 Hotfix v1.6.1
  CHANGELOG.md
  VERSION
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#793 add market related terms
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-social

#792 add power plant portfolio and dispatch assignment
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#796 add energy demand
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#800 add last market related terms #256
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-shared, oeo-social

#803 add definition and axiom for geographic coordinate
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#797 add policy, policy instrument and transformative measure
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-social, oeo.omn

#804 Add ID 0024 for Kai Schnepf
  src/ontology/oeo.omn
Labels: oeo.omn

#801 improve battery and subclasses #773
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#805 add hydrocarbon and syngas
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#806 Marine energy and related classes #762
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#808 add cooperative programming
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
