Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-08, with the labels that each got.

#810 add ENVO mapping
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo.omn

#813 Add class 'waste thermal energy' #775
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#816 fix air pollutant definition
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#824 add uncertainty approach and instances stochastic and deterministic
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#825 add `has documentation quality`
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#817 add rotational energy plus change of axioms
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#826 add definition of data item, fix minor mistakes
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#827 add class email address
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#838 add `has gross output` and `has net output`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#840 add `has number`
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#842 remove domain of is traded at
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#843 Add classes economy, good and good role
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#845 add production
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo.omn, oeo-shared
