Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-05, with the labels that each got.

#739 rework geothermal energy #727
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#724 add flag / quality control flag
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#742 add ambient thermal energy and related classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, [B] restructure, oeo-physical

#744 Releases v1.5.0
  CHANGELOG.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  VERSION
  mintty.2021-05-03_14-35-42.png
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-module.owl
  src/ontology/oeo.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social, oeo.omn

#745 Add 'trade' (#307) and 'market participant' (#330)
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#747 change dc:license to terms:license
  mintty.2021-05-03_14-35-42.png
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social

#751 change range of has typical computation hardware
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

#752 Update powerplants #750
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#754 Changed relation from turbine to wind rotor #75
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#756 add contract
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#748 add energy market exchange
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-shared, oeo-social

#757 change def of objective function
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#755 Restructure dammed water and pumped water #681
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#759 Update definition of portion of matter and add editor note #738
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
