Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-09, with the labels that each got.

#852 Update definitions of `covers energy carrier` and `covers sector` #846
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#854 Fix duplicate model factsheet
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#853 Add policy-related relations #444
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#865 Add class `secondary energy production` #860
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#868 Add relation `governs` #855
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#869 bugfix: `good` and `study` to oeo-shared #862
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared

#857 Add ETS/ESD/ESR related classes
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#861 restructure renewable relations #741
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#877 change hydrogen turbine
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#876 Add process class `distribution` #836
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#879 Add class `metric ton` #856
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#875 add typical period and subclasses #830
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#878 add objective variable #848
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#881 add target description #28
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
