Repository OpenEnergyPlatform/ontology, pull requests merged in 2021-04, with the labels that each got.

#722 fix domain of covers energy carrier
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, bug, oeo-physical

#723 add typical computation time and hardware
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/imports/iao-module.owl
Labels: oeo-model

#729 add goal description and written name
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/imports/iao-module.owl
Labels: [A] new term, oeo-model

#732 fix renewable energies
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: bug, oeo-physical

#733 add heat transfer
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#734 add heat exchanger
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#735 Add class 'solar chemical energy transformation' #673
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#710 add relation quantity value of
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-physical, oeo-shared

#740 Add Market exchange subclasses #677
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-model, oeo-physical, oeo-shared, oeo-social
