Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-11, with the labels that each got.

#1371 delete individuals csv and txt
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1373 Releases v1.12.0 to master
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
  .gitignore
  CHANGELOG.md
  CITATION.cff
  README.md
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/ro-module.owl
  src/ontology/oeo.omn
  src/scripts/btma/annotator.py
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1347 add subrelations of is about for bundle dev #1335
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1356 Feature 1301 tank
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1385 Add concepts describing sustainability #872
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1387 Add SubclassOf axiom to `model descriptor` #1386
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1357 Feature 1308 filling station
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1388 Feature 1375 vehicle kilometre
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: [A] new term, oeo-shared

#1389 Add electricity and fuel demand
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: [A] new term, oeo-social

#1390 Fix 1384 runaway classes
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1363 Add thermal energy storages #1261
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1393 Add bidirectional vehicle charging station
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1394 Add charging
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1391 add object property `based on` #1346
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

#1383 Add `OEP user`, `qualitist`, `quantitist`, `apinist` #1339
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1396 Improve definition of `superconducting magnetic energy storage` #1349
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1398 Feature 1367 1382 ton of coal/oil equivalent
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1395 Add `has participant` axioms #1327
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared
