Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-06, with the labels that each got.

#1185 Update definition and axiom of `fossil energy` #1172
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1188 Add class `bioenergy` #1168
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1190 add class fissible material entity #1159
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1187 Shorten definition of fuel #1184
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1196 Relabel `fissible material entity` to `fissile material entity`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1200 Change range of `has institution` to `organisational role` #1161
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1202 Add frequency control and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1201 Add `SubClass Of` for multiple fuel concepts #1191
  CHANGELOG.md
  VERSION
  src/ontology/edits/oeo-physical.omn
Labels: [B] restructure, oeo-physical

#1205 Patch release v1.10.1 to master
  CHANGELOG.md
  VERSION
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-model, oeo.omn, oeo-shared

#1198 Add axiom to individual `KSG sector buildings` #1194
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1197 Import `realized in` from RO #1079
  CHANGELOG.md
  src/ontology/imports/ro-module.owl
Labels: [A] new term

#1210 Add relation between `combustion thermal energy transformation` and `emission` #1045
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1216 Add `parameterisation` and `model calibration` #1040
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1217 Add `scenario projection` #970
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1215 Add class `measurement device` #1214
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1220 Update class OEO_00000032
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1219 Resolve failing imports by moving classes #1218
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1226 Relabel `has institution` to `has organisation` #1161
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1225 Add range axiom for `has participant` #1157
  CHANGELOG.md
  src/ontology/imports/ro-module.owl
  src/ontology/oeo.omn
Labels: oeo.omn

#1227 Add surface+related concepts fix #1074
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1228 Add axioms for photovoltaic #1074
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1221 electricity import / export #998
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo.omn, oeo-shared

#1235 Fix `power capacity` axiom #1223
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1237 Convert second label of `jet fuel` (OEO:00000245) to an alternative term
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
