Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-05, with the labels that each got.

#1113 add axioms to model calculation #1091
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1123 Feature 1071 make energy system subclass
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1102 add potential as parent class #1093
  CHANGELOG.md
  CONTRIBUTING.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, [B] restructure, oeo-physical

#1112 add slope + azimuth surface angle #1087
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1130 Add classes `heat generation process` and `combustion thermal energy transformation` #1045
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1080 add energy service demand #1054
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#1135 Add classes `propulsion` and `traction motor` #1029
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1126 Feature 948 implementation of ramping parameters
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1134 Add CITATIONS.cff #1095
  CHANGELOG.md
  CITATION.cff
  README.md
  src/ontology/oeo.omn
Labels: oeo.omn

#1131 Add classes `study factsheet`, `OEP study factsheet` and `scenario study` #1069 and #1058
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1141 Releases v1.10.0
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  README.md
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/ro-module.owl
  src/ontology/oeo.omn
  src/scripts/btma/README.md
  src/scripts/btma/annotator.py
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1151 Add `nationally determined contribution` #947
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn

#1146 Make `capacity factor` a subclass of `fraction value` #1144
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1137 fix `marine current energy transformation` axioms #1023
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical, oeo.omn

#1156 import `programming language` #1132
  CHANGELOG.md
  src/ontology/imports/iao-module.owl
Labels: [A] new term, external ontology

#1138 reverse `input of` +`output of` #1114
  CHANGELOG.md
  src/ontology/imports/ro-module.owl
Labels: oeo-physical, oeo.omn

#1163 Fix classification of `software license` #1153
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1155 Add `maximum value` and `power capacity` and change further classes #1092
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1165 update photon #1164
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1173 Improve definition of `energy carrier` #1169
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1178 Add missing axioms at core energy-related classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1181 Shift part of the definition of `fossil` into an editor note #1180
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1182 Update definition of energy transformation #1175
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
