Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-04, with the labels that each got.

#1083 add import/export price #1050
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1098 Add new contributor 0029 closes #1097
  src/ontology/oeo.omn
Labels: organisation, oeo.omn

#1099 Add editor note on `water` #1081
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1100 Make `greenhouse gas emission` an equivalent class
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1105 adjust contributing guide symbols for color blindness
  CONTRIBUTING.md
Labels: enhancement, organisation, wiki

#1101 extend has role to energy #1030
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/ro-module.owl
Labels: oeo-physical, oeo-shared

#1122 Fix UID #1121
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.properties
Labels: oeo-social
