Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-09, with the labels that each got.

#1284 Added new contributor 0032
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1285 Add energy input axiom to internal combustion engine
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1288 Use general diesel fuel and add disjoint axiom #1286
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1289 Add passenger-kilometre and ton-kilometre #1272
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1290 Feature #1279 add gas vehicle and related terms
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1293 Feature 1277 vehicle subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1295 Add `conventional energy` #1270
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1297 Features 1266 1267 1278 add transport networks and components
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1296 Add `narrative` and `storyline` as alternative label for `scenario` #1232
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1299 Feature 1269 energy transfer and fuel transport
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: [A] new term, oeo-physical, oeo-shared

#1302 Convert `analytical approach` individuals to subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1309 Add transport participant axiom #1271
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1312 Add vehicle charging station
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1314 Add vehicle operational mode
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: [A] new term, oeo-shared

#1287 Add axioms to `analysis scope` #1059
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model, OEKG

#1310 Add `has bearer` axioms to subclasses of `realizable entity` #1305
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1306 Feature 1129 primary energy consumption accounting
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1315 Feature 1311 update vehicles
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1316 Add fuel supply system
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical
