Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-02, with the labels that each got.

#1011 add methodology #971
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1009 Add class `gas mixture` #988
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1016 Add `liquified natural gas` (LNG) #1005
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1017 change def and label of duration/time span #1004
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1018 Feature 893 specific power
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

#1010 Axiom change for `energy transformation`, subclasses and related classes
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#997 add and change subclasses of quantity value
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical, oeo-shared

#1025 add editor notes to study and study report #978
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo.omn, oeo-shared

#1026 add time terms #894
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1022 add subclasses of cost #891
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

#1027 Redefine `biogasoline` and `biodiesel` #960
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1024 Delete `oil and petroleum products` #811
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1006 Add `has energy participant`, `has energy input` and `has energy output` #994
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1037 Add editor note to all gasoline-related classes #1028
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1042 Improve definition of `has institution` #1038
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1034 add has-economic-value #958
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1041 Use axiom `has energy input` / `has energy output` for `energy transformation` and subclasses #994
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
