Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-03, with the labels that each got.

#1044 change axioms #1023
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1048 Restructure origins
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1063 remove axiom between license and emission quantity value #1062
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1065 relation `is energy participant of` #1057
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1078 add protected area #1052
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1075 Add class `abbreviation` #1039
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1090 has license and license subclasses #1061
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared
