Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-12, with the labels that each got.

#1422 Align economic properties with class hierarchy #1411
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo.omn, oeo-shared

#1428 Add class `source category` #1426
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1410 Add axioms
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1429 add scenario bundle #1343
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1409 Add `sustainable biofuel` and `non-sustainable biofuel` #872
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  tests/competency_questions/q1.omn
  tests/competency_questions/q29.omn
  tests/competency_questions/run_questions.sh
Labels: oeo-physical

#1432 Add undisputed heat terms #1254
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1406 Fix typos and other minor issues
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1435 Add utilisation value
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1436 amortisation time and economic life time
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: [A] new term, economic terms, oeo-shared

#1319 Export of existing terms and definitions #1020
  .github/workflows/PostReleaseScripts.yml
  src/ontology/edits/oeo-physical.omn
  src/scripts/etd/README.md
  src/scripts/etd/etd.py
  src/scripts/etd/etd.sh
  src/scripts/requirements.txt
Labels: oeo-physical, ontology infrastructure
