Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-08, with the labels that each got.

#1259 remove 'among other parts' from power generating unit definition
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1253 Add carbon-price related term #866
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#1264 Fix definition of `heat exchanger` #1263
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1260 Add fuel cost and reformulate cost definitions to singular
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1274 Rework program parameter
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1162 Update template for pull requests
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/pull_request_template.md
  CHANGELOG.md
Labels: oeo dev meeting, organisation

#1282 Fix `electrical heat pump axiom` #1281
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
