Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-10, with the labels that each got.

#1317 Add `NC/BR sector division` and `NC/BR sector: X` individuals #1273
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1324 Added new user 0028 @areleu
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1326 Feature 1145 add subclasses of data format
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model, oeo.omn

#1331 Add mineral oil refining related classes #1318
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social

#1341 Improve axioms of `fuel cell` #1337
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1334 Add `international transport sector` #969
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1345 Feature 1298 equivalence subclasses for vehicles
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical

#1358 add u-mueller as contributor
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1359 Add waste heat sources #1265
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1348 Restructure energy storage (function)
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1353 Feature 1320 domain range realized in
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/ro-module.owl
Labels: oeo-physical, oeo-shared

#1352 Fix typos
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
Labels: oeo-model

#1351 Add `refinery gas` and `petroleum coke` #1332
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
