Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-07, with the labels that each got.

#1243 add secondary energy carrier disposition to some classes #1222
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1244 Fix `how-to-help` link #1238
  README.md
Labels: organisation, wiki

#1242 added new contributor 0030
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1240 Update `fuel-powered electricity generation` #936
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1250 added new contributor 0031
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1249 Release branch 1.11.0 to master
  CHANGELOG.md
  CITATION.cff
  README.md
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/ro-module.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1251 Add `steam reforming process` #1211
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1252 Add annotations for modules
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/scripts/btma/annotator.py
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared
