Repository OpenEnergyPlatform/ontology, pull requests merged in 2022-01, with the labels that each got.

#977 delete 'cost' in oeo-social
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#981 fix typo of label
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#990 Feature 987 mathematical expression
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo.omn, oeo-shared

#992 delete `organisation` in oeo-social
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#1000 Add new contributor
  src/ontology/oeo.omn
Labels: oeo.omn

#993 Replace `energy converting device` with `energy converting component` in some definitions
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1001 Update `has state of matter` and `has normal state of matter` #989
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1003 Redefine `peat` #942
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1002 Add class `forecast error` #907
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
