Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-06, with the labels that each got.

#1575 add class material transformation #1526
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn, oeo-shared

#1576 Add life cycle assessment #1551
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo.omn, oeo-shared

#1591 technology #1572
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1590 adding a new contributor close #1589
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1594 added myself as contributor 0036
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1255 Added definition to individuals of boolean values
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1596 Add new contributor 0034
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn
