Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-05, with the labels that each got.

#1531 Improve `mineral oil refining process` #1522
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1541 propulsion and traction #1528
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1547 Relabel and redefine `has copyright license` to `has license` #1275
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/iao-module.owl
Labels: oeo-model, oeo-shared

#1558 Add alternative labels to common report format #1535
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1559 Feature 1490 1491 hydrogen colours nuclear origin
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1561 electrical energy share #1434
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1562 Harmonise use of word "process" #1455
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1563 Redefine `policy instrument` and change `guides` #1507
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1564 subproperties of has energy participant #1530
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1556 Feature 1555 iao extraction
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/iao-extracted.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/scripts/iao/extract-iao-module.bat
  src/scripts/iao/extract-iao-module.sh
  src/scripts/iao/iao-w-hierarchy.txt
Labels: oeo-shared

#1546 Move entries from oeo.omn to oeo-shared #1408
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn, oeo-shared

#1567 Release version 1.15.0 to master
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-physical.properties
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-extracted.owl
  src/ontology/imports/iao-module.owl
  src/ontology/imports/ro-module.owl
  src/ontology/oeo.omn
  src/scripts/iao/extract-iao-module.bat
  src/scripts/iao/extract-iao-module.sh
  src/scripts/iao/iao-w-hierarchy.txt
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared
