Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-12, with the labels that each got.

#1775 metadata / data descriptor #1548
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1777 add study report due to legislation #1641
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1770 Restructure `power rating` and `power capacity` #1492
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1776 clean oeo import edits
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared, oeo-shared-axioms

#1781 Merge release 2.1.0 to master
  .github/pull_request_template.md
  CHANGELOG.md
  CITATION.cff
  Makefile
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-extracted.owl
  src/ontology/imports/omo-extracted.owl
  src/ontology/imports/ro-extracted.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared, oeo-shared-axioms

#1784 tidy ro artifacts #1738
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

#1786 Add policy instruments #1545
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1785 Add `realized in` axioms to energy functions #1539
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
