Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-11, with the labels that each got.

#1751 Fix SubClassOf axioms of `model factsheet` #1750
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1749 restructure the concept of regions #1745
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1748 add service product #1584
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#1762 adding domain and ranges to has sink, has source and is connected to #1116
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1767 Add `temperature` and `pressure`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1768 Add `carbon capture and storage technology` #1760
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1763 Add `fuel blending quota` #1413
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1774 Make `B7` and `E10` liquid fuels #1764
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1771 make boiler an equivalent class #1570
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
