Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-08, with the labels that each got.

#1420 Feature 1419 competency question coverage report
  .github/workflows/automated-testing.yml
  .gitignore
  CHANGELOG.md
  README.md
  src/scripts/etd/etd.py
  src/scripts/requirements.txt
  tests/competency_questions/deprecated/001_biofuel_is_renewable_fuel.omn
  tests/competency_questions/deprecated/029_biofuel_is_classified_as_renewable_fuel.omn
  tests/competency_questions/implementing/043_thermal_energy_bearers_carry_energy.omn
  tests/competency_questions/implementing/044_renewable_energy_do_not_use_fossil_fuel.omn
  tests/competency_questions/implementing/048_energy_from_pv_cell_is_renewable.omn
  tests/competency_questions/implementing/049_natural_gas_not_anthropogenic.omn
  tests/competency_questions/implementing/050_energy_from_coal_powerplant_not_renewable.omn
  tests/competency_questions/model/soundness/045_scenario_realizes_at_most_one_model_calculation_.omn
  tests/competency_questions/physical/completeness/002_carbon_monoxide_is_air_pollutant.omn
  tests/competency_questions/physical/completeness/003_nitrous_oxide_is_greenhouse_gas.omn
  tests/competency_questions/physical/completeness/004_equivalences_to_flourinated_greenhouse_gases.omn
  tests/competency_questions/physical/completeness/005_methane_has_normal_state_of_matter_gaseous.omn
  tests/competency_questions/physical/completeness/006_synthetic_hydrogen_is_synthetic_fuel.omn
  tests/competency_questions/physical/completeness/007_biodisel_is_liquid_biofuel.omn
  tests/competency_questions/physical/completeness/008_charcoal_is_energy_carrier_and_has_normal_state_of_matter_solid.omn
  tests/competency_questions/physical/completeness/009_power_line_is_grid_component.omn
  tests/competency_questions/physical/completeness/010_switchyard_is_grid_component.omn
  tests/competency_questions/physical/completeness/011_transformer_is_grid_component.omn
  tests/competency_questions/physical/completeness/012_gas_fired_power_unit_is_fueled_power_unit.omn
  tests/competency_questions/physical/completeness/013_hydrogen_power_unit_is_fueled_power_unit.omn
  tests/competency_questions/physical/completeness/014_nuclear_power_unit_is_fueled_power_unit.omn
  tests/competency_questions/physical/completeness/015_oil_power_unit_is_fueled_power_unit.omn
  tests/competency_questions/physical/completeness/016_waste_power_unit_is_fueled_power_unit.omn
  tests/competency_questions/physical/completeness/017_biofuel_power_plant_is_fueled_power_plant.omn
  tests/competency_questions/physical/completeness/018_coal_power_plant_is_fueled_power_plant.omn
  tests/competency_questions/physical/completeness/019_gas_power_plant_is_fueled_power_plant.omn
  tests/competency_questions/physical/completeness/020_hydrogen_power_plant_is_fueled_power_plant.omn
  tests/competency_questions/physical/completeness/021_oil_power_plant_is_fueled_power_plant.omn
  tests/competency_questions/physical/completeness/022_waste_power_plant_is_fueled_power_plant.omn
  tests/competency_questions/physical/completeness/023_amonia_is_air_pollutant.omn
  tests/competency_questions/physical/completeness/024_biodisel_is_liquid_biofuel.omn
  tests/competency_questions/physical/completeness/025_biogasoline_is_liquid_biofuel.omn
  tests/competency_questions/physical/completeness/026_carbon_dioxide_is_greenhouse_gas.omn
  tests/competency_questions/physical/completeness/027_charcoal_is_solid_biofuel.omn
  tests/competency_questions/physical/completeness/028_coal_is_solid_biofuel.omn
  tests/competency_questions/physical/completeness/030_synthetic_fuel_is_combustion_fuel.omn
  tests/competency_questions/physical/completeness/031_renewable_fuel_is_combustion_fuel.omn
  tests/competency_questions/physical/completeness/032_waste_fuel_is_combustion_fuel.omn
  tests/competency_questions/physical/completeness/033_renewable_municipal_waste_is_biofuel.omn
  tests/competency_questions/physical/completeness/034_hydrogen_is_combusion_fuel.omn
  tests/competency_questions/physical/completeness/035_methane_is_greenhouse_gas.omn
  tests/competency_questions/physical/completeness/036_methane_is_combusion_fuel.omn
  tests/competency_questions/physical/completeness/037_natural_gas_is_fossil_combusion_fuel.omn
  tests/competency_questions/physical/completeness/038_nitrogen_oxide_is_air_pollutant.omn
  tests/competency_questions/physical/completeness/039_particulate_matter_is_air_pollutant.omn
  tests/competency_questions/physical/completeness/040_peat_is_solid_fossil_fuel.omn
  tests/competency_questions/physical/completeness/041_sulphur_dioxide_is_air_pollutant.omn
  tests/competency_questions/physical/completeness/047_portion_of_hydrogen_is_energy_carrier.omn
  tests/competency_questions/physical/completeness/051_charcoal_is_solid_biofuel.omn
  tests/competency_questions/physical/soundness/042_wind_turbines_not_powered_by_coal.omn
  tests/competency_questions/run_questions.sh
  tests/competency_questions/social/completeness/046_agent_not_a_person.omn
  tests/conftest.py
  tests/test_competency_questions.py
Labels: oeo-physical

#1601 Add `power generation technology` and many subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1642 add missing scenario subclasses #1329
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model, oeo-shared

#1639 1554-add-regionalisation
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
