Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-09, with the labels that each got.

#1625 adding process attributes to energy transformation #1543
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo.omn, oeo-shared

#1647 add ptx technologies #1592
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1644 1407-Represent increase/decrease opposed to absolute values
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1649 add shared axioms module
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/oeo.omn
Labels: oeo.omn

#1659 move classes to physical
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1660 data descriptor, energy market model, empirical data set
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model, oeo-shared

#1656 Move oeo-shared items
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1665 Feature 1592 move model classes
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1664 Feature 1592 move to physical
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1663 Fixed agent relocation, without whitespace changes
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#1667 Feature 1592 move model classes II
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1668 Move classes to oeo-physical #1592, part 3
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1671 Move classes to oeo-physical #1592, part 4
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#1670 move classes to oeo-model #1592
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/oeo.omn
Labels: oeo-model, oeo.omn, oeo-shared

#1675 Move classes to oeo-physical #1592, part 5
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1676 move classes to oeo-model 4
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1674 move to oeo-model classes 3
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1680 Feature 1592 move social classes pt2
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1669 feature 1592 moving classes to physical
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1678 Issue 1592: Move additional classes to social
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model, oeo-shared

#1677 feature 1592 moving classes to physical part 2
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1673 Move concepts to oeo-shared
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1681 feature 1592 moving classes to physical part 3
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1685 feature 1592 moving classes to physical part 4
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1697 Updated market exchange role
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#1652 move classes from oeo-shared(-axioms) to original modules
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1648 Add class `sufficiency` #1553
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model

#1698 add acceptance #1552
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social
