Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-07, with the labels that each got.

#1606 remove axiom #1405
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: [B] restructure, oeo-physical, oeo-shared

#1614 scenario subclasses #1329
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model, oeo-shared

#1619 make-secondary energy production equivalent
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1620 Added Axioms to energy subclasses #1600
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1613 Fix trade axiom
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1615 remaining scenario subclasses #1329
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared
