Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-01, with the labels that each got.

#1445 Add `energy transformation function` and subclasses #1438
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo.omn

#1441 Add object property `has spatial region` #1404
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1442 Add "coloured" hydrogen #1013
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1446 Add RED sector individuals #1443
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1447 Make `radiation` a subclass of `energy transfer` #1031
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1437 Add `renewable power unit` and `renewable power plant` #1423
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1360 adding more heat terms #1254
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo.omn, oeo-shared

#1362 add combined cycle power plant (CCGT) #1256
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo dev meeting, oeo-physical

#1448 Add solar radiation components #1076
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1459 scenario subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1456 Add `power-only generating unit` #1439
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
