Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-02, with the labels that each got.

#1464 Replaced owl:equivalentClass with may be identical to in Annotations
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-model, oeo-shared

#1482 electricity cost #1365
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1478 Add `Brent crude` and `Western Texas Intermediate`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#1462 Feature 1449 sector division subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1483 Feature 1477 power to liquid process
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1486 storage capacity #1466
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
