Repository OpenEnergyPlatform/ontology, pull requests merged in 2023-10, with the labels that each got.

#1709 fix `governs`
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-social, oeo.omn

#1638 adding recycling as a new class #1376
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: [A] new term, oeo-physical, oeo-model, oeo-shared

#1710 move remnant axioms
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared

#1711 add scenario study subclasses #1640
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#1706 move object properties from shared to original modules #1703
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared

#1716 fix disjointness between person, organisation, organisational role #1702
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared

#1718 add control area, bidding zone, bidding zone role #1481
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1714 fix class declarations
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1720 make the definition of state of matter Aristotelian #1672
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1717 add flexibility and energy balancing #1549
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical, oeo-model

#1723 Feature 1504 blended liquid fuels
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1727 Add (electric) mobility technology #1572
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1724 Introduce sector module
  CHANGELOG.md
  Makefile
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model, oeo-shared, oeo-sector, oeo-shared-axioms

#1733 Feature 1730 fix duplicated has memo
  CHANGELOG.md
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector

#1707 rework model #1444
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model, oeo-shared, oeo-sector

#1735 delete old uo-module
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/omo-extracted.owl
  src/ontology/imports/uo-extracted.owl
  src/ontology/imports/uo-module.owl
Labels: oeo-shared

#1732 Remove belongs to module annotations
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector

#1737 Releases v2.0.0 to master
  .github/labeler.yml
  .gitignore
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  Makefile
  README.md
  VERSION
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/omo-extracted.owl
  src/ontology/imports/uo-extracted.owl
  src/ontology/imports/uo-module.owl
  src/ontology/oeo.omn
  src/scripts/README.md
  src/scripts/btma/README.md
  src/scripts/btma/annotator.py
  src/scripts/etd/etd.sh
  src/scripts/iao/extract-iao-module.sh
  src/scripts/iao/iao-w-hierarchy.txt
  src/scripts/iao/iao.owl
  src/scripts/requirements.txt
  src/scripts/ro/extract-from-relations-ontology.sh
  src/scripts/ro/ro-extract-n-hierarchy.txt
  src/scripts/ro/ro-extract-w-hierarchy.txt
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared, oeo-sector, oeo-shared-axioms

#1736 Releases v2.0.0 to dev
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector, oeo-shared-axioms

#1742 Releases v2.0.1 to dev
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/omo-extracted.owl
  src/ontology/imports/uo-extracted.owl
Labels: oeo-shared

#1741 Releases v2.0.1 to master
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/omo-extracted.owl
  src/ontology/imports/uo-extracted.owl
Labels: oeo-shared

#1744 add concepts around resilience #1550
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical, OEKG
