Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-05, with the labels that each got.

#1852 bug fix with roles #1844
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1853 project lifetime dates #1536
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1851 Add size and adjust area value #1848
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1843 add robust #1683
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-physical, oeo-model, oeo-shared-axioms

#1841 Add Axiom to Final Energy Consumption Value #1832
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1854 Add german labels to four terms #1471
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared, oeo-sector
