Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-07, with the labels that each got.

#1869 Convert `software framework` indivuals into `programming languages` and add definitions
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1879 Convert ENVO matchings from `iao:may be identical` to `skos:closeMatch`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-physical, oeo-shared

#1880 Correction of implementing mistake concerning emission value #1759
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1882 Release v2.4.0 to master branch
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector, oeo-shared-axioms

#1883 Feature 1471 german labels 3
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector

#1889 Split individual `gams` into two individuals #859
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1894 add new contributor
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn
