Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-09, with the labels that each got.

#1906 Add policy instrument functions #1826
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1913 add `term tracker annotation` property #1850
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1878 add relational quantity value #1875
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-shared

#1919 Added self to contributing files
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1921 Add new contributor/user0041
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1922 replaced term tracker item with term tracker annotation #1850
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector

#1923 replaced more term tracker items with annotation #1850
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector, oeo-shared-axioms

#1892 Feature 1871 units
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/uo-extracted.owl
Labels: oeo-social, oeo-shared

#1912 Simplify domain and range of `is traded at` and `trades` #1239
  CHANGELOG.md
  src/ontology/edits/oeo-social.omn
Labels: oeo-social

#1915 monetary value and price #1902
  CHANGELOG.md
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-shared-axioms

#1925 Add `licensee`, `licence provider`, `permits` and `has licence provider`
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model, oeo.omn

#1931 make economic value obsolete #1917
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo.omn, oeo-shared

#1928 replaced 'has bearer' with 'characteristic of'
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-shared-axioms

#1905 update size and add amount #1896
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1933 Releases v2.5.0 to master
  .github/workflows/IssueProject.yml
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical-axioms.owl
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/uo-extracted.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared, oeo-sector, oeo-shared-axioms

#1932 Release v2.5.0 to dev
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-extracted.owl
Labels: oeo-social
