Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-01, with the labels that each got.

#1791 added area classification concepts from regional planning #1766
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-social, oeo-model

#1795 Add `missing value reason` and `notation key` #1765
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1797 Update `MMR sector division` and `EU emission sector division` #1796
  CHANGELOG.md
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-sector, oeo-shared-axioms

#1798 Improve individual `German energy balance sector division` #1793
  CHANGELOG.md
  src/ontology/edits/oeo-sector.omn
Labels: oeo-sector
