Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-11, with the labels that each got.

#1970 Changed typo in "definition" and "example of usage"
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1945 add concepts for (modelling) uncertainties
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo dev meeting, oeo-model

#1980 Remove duplicated word from the definition of `gaseous`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
