Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-08, with the labels that each got.

#1895 Feature 1471 german labels 4
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/iao-extracted.owl
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector

#1897 add oekg specific annotation #1529
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared

#1899 Fixing bugs concerning train and regionalisation #1898
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical, oeo-model

#1900 added kilowatt and megawatt as units #1890
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1840 Add `industrial technology` and `industrial plant`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-physical, oeo-shared-axioms
