Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-06, with the labels that each got.

#1864 Fix switched definitions #1863
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1788 Add axioms to sector classes and individuals #1333
  CHANGELOG.md
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo.omn, oeo-shared, oeo-sector, oeo-shared-axioms

#1862 Origin/feature 1471 german labels 1
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector

#1867 Feature 1471 german labels 1 en
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-sector

#1868 Feature 1471 german labels 2
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector

#1874 Import SKOS mapping relations #636
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector
