Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-12, with the labels that each got.

#1977 Add model system boundary #1951
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model, oeo.omn

#1983 Adjust definition of `areal solar energy density`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1978 Add technical model implementation #1953
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1988 Release v2.6.0 to `master` branch
  .github/pull_request_template.md
  .github/workflows/InDiscussionProject.yml
  .github/workflows/IssueProject.yml
  .github/workflows/LabelInDiscussion.yml
  .github/workflows/MoveInDiscussionProject.yml
  .github/workflows/PostReleaseScripts.yml
  .github/workflows/automated-testing.yml
  CHANGELOG.md
  CITATION.cff
  CONTRIBUTING.md
  README.md
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-tasks.omn
Labels: oeo-physical, oeo-model

#1987 Release v2.6.0 to `dev` branch
  CHANGELOG.md
  CITATION.cff
  VERSION
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-tasks.omn
Labels: oeo-physical, oeo-model

#1976 Add conceptual model #1952
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model
