Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-10, with the labels that each got.

#1944 Add object properties "has aggregation type" and "has time stamp alignment" #1901
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1942 [Bugfix] import of oeo-import-edits in oeo-shared
  src/ontology/edits/catalog-v001.xml
Labels: bug

#1941 Change label of energy amount value #1865
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1950 Add study descriptor #1943
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1947 Make 3 object aggregates subclasses of (supply) system #1833
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
