Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-02, with the labels that each got.

#1799 Add class `forecasting` #1691
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1810 Relabel `API` and `GUI` #1804
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1801 Add new user/contributor 0037
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1803 Add `non-energy use technology` #1773
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1809 add critical infrastructure and BSI-KritisV sectors #1792
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
Labels: oeo-physical, oeo-model, oeo.omn, oeo-sector

#1816 Add object properties for composed units
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1818 Add `compressor`, `compressor station` and subclasses
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
