Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-03, with the labels that each got.

#1820 Update UO #1690
  CHANGELOG.md
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/uo-extracted.owl
Labels: oeo-shared

#1806 Update CITATION.cff
  CITATION.cff
  src/ontology/oeo.omn
Labels: oeo.omn

#1822 Release v2.2.0 to master branch
  CHANGELOG.md
  CITATION.cff
  README.md
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/uo-extracted.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared, oeo-sector, oeo-shared-axioms
