Repository OpenEnergyPlatform/ontology, pull requests merged in 2024-04, with the labels that each got.

#1827 Add class `methanol`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#1835 add has prefix #1402
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1834 Bug fix: make OEO_00140170 a data property #1802
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1839 Add class "quantity" #1510
  CHANGELOG.md
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared

#1842 add model coupling, sector coupling and sector coupling technology #1521
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/imports/uo-extracted.owl
Labels: oeo-physical, oeo-model

#1846 Restructuring emission rate and emission value #1759
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical
