Repository OpenEnergyPlatform/ontology, pull requests merged in 2025-03, with the labels that each got.

#2020 Implement oekg predicates
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared-axioms.omn
Labels: oeo-model, oeo-shared-axioms

#2023 create shortcut relations for oekg #2013
  CHANGELOG.md
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

#2022 Integrate MENO ontology
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/meno-extracted.owl
Labels: oeo-model, oeo-shared

#1991 Missing landscape classifications for SLE project
  CHANGELOG.md
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical, oeo-model

#2029 release 2.7.0 to master
  .github/workflows/PostReleaseScripts.yml
  .github/workflows/automated-testing.yml
  .gitignore
  CHANGELOG.md
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE-CC0.txt
  LICENSE-MIT.txt
  LICENSES/CC-BY-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/MIT.txt
  README.md
  REUSE.toml
  VERSION
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/edits/oeo-tasks.omn
  src/ontology/imports/cco-extracted.owl
  src/ontology/imports/meno-extracted.owl
  src/ontology/imports/stato-extracted.owl
  src/ontology/oeo.omn
Labels: oeo-physical, oeo-social, oeo-model, oeo.omn, oeo-shared, oeo-shared-axioms
