Repository OpenEnergyPlatform/ontology, pull requests merged in 2025-10, with the labels that each got.

#2122 Move relations to oeo-shared #2119
  CHANGELOG.md
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-shared-axioms

#2126 bug fix: correct duplicate definitions
  CHANGELOG.md
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-shared, oeo-sector

#2113 Add Hygiene Tests
  .github/workflows/automated-testing.yml
  src/ontology/edits/oeo-social.omn
  tests/verify/annotation_trailing_whitespace.sparql
  tests/verify/duplicate_definition.sparql
  tests/verify/duplicate_labels.sparql
  tests/verify/only_bfo_supers.sparql.disabled
  tests/verify/ontology_title.sparql
  tests/verify/subclass_circularity.sparql
Labels: oeo-physical, oeo-social, oeo-shared, oeo-sector

#2129 Release v2.9.0 to master
  .github/workflows/automated-testing.yml
  CHANGELOG.md
  CITATION.cff
  README.md
  VERSION
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-co-sim.omn
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-sector.omn
  src/ontology/edits/oeo-shared-axioms.omn
  src/ontology/edits/oeo-shared.omn
  src/ontology/edits/oeo-social.omn
  src/ontology/imports/cco-extracted.owl
  src/ontology/imports/ro-extracted.owl
  tests/verify/annotation_trailing_whitespace.sparql
  tests/verify/duplicate_definition.sparql
  tests/verify/duplicate_labels.sparql
  tests/verify/old-iris.sparql
  tests/verify/only_bfo_supers.sparql.disabled
  tests/verify/ontology_title.sparql
  tests/verify/subclass_circularity.sparql
Labels: oeo-physical, oeo-social, oeo-model, oeo-shared, oeo-sector, oeo-shared-axioms
