Repository OpenEnergyPlatform/ontology, pull requests merged in 2025-04, with the labels that each got.

#2046 [bug fix] vehicle operational mode #2037
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#2041 Adapt implementation of `arable land` classes
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#2006 More missing landscape classifications for SLE project
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-physical, oeo-model
