Repository OpenEnergyPlatform/ontology, pull requests merged in 2025-01, with the labels that each got.

#1990 Add `model uncertainty location`
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
Labels: oeo-model

#1995 Alternative label for capacity factor and new tasks label #1994
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
  src/ontology/edits/oeo-tasks.omn
Labels: oeo-physical

#2002 import from stato ontology
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/stato-extracted.owl
Labels: oeo.omn, oeo-shared
