Repository OpenEnergyPlatform/ontology, pull requests merged in 2025-02, with the labels that each got.

#2007 Update axioms of model
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#2019 Fix definition of `solid`
  CHANGELOG.md
  src/ontology/edits/oeo-physical.omn
Labels: oeo-physical

#2016 import from CCO
  CHANGELOG.md
  src/ontology/catalog-v001.xml
  src/ontology/edits/catalog-v001.xml
  src/ontology/edits/oeo-import-edits.owl
  src/ontology/edits/oeo-shared.omn
  src/ontology/imports/cco-extracted.owl
Labels: oeo-shared

#2012 Add uncertainty axioms
  CHANGELOG.md
  src/ontology/edits/oeo-model.omn
  src/ontology/edits/oeo-shared.omn
Labels: oeo-model, oeo-shared

#2021 Implement dual licensing and REUSE license check
  .gitignore
  CHANGELOG.md
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE-CC0.txt
  LICENSE-MIT.txt
  LICENSES/CC-BY-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/MIT.txt
  README.md
  REUSE.toml
Labels: organisation
